@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <li>
        @{
            var link = Html.ActionLink("{0}", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @id = "user-login-area" }).ToString();
            var url = string.Format(link, "<i class=\"fa fa-users\" aria-hidden=\"true\"></i> " + User.Identity.GetUserName().Substring(0, 6) + "..");
        }
        @Html.Raw(url)
    </li>
    <li id="user-register-area">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
        {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()" ><i class="fa fa-bell-o" aria-hidden="true"></i> Log off</a>
        }
    </li>
    
}
else
{
    <li>
        @{
            var link = Html.ActionLink("{0}", "Login", "Account", routeValues: null, htmlAttributes: new { @id = "user-login-area" }).ToString();
            var url = string.Format(link, "<i class=\"fa fa-users\" aria-hidden=\"true\"></i> Đăng nhập");
        }
        @Html.Raw(url)
    </li>
    <li>
        @{
            var link1 = Html.ActionLink("{0}", "CustomerRegister", "Account", routeValues: null, htmlAttributes: new { @id = "user-register-area" }).ToString();
            var url1 = string.Format(link1, "<i class=\"fa fa-bell-o\" aria-hidden=\"true\"></i> Đăng ký");
         }
        @Html.Raw(url1)
    </li>
}
