<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Mega Cimemas</title>
    <link rel="icon" href="images/cinema_icon.ico" type="image/ico" size="16x16" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
    <meta name="keywords" content="Hệ thống bán vé online, Hệ thống rạp lớn nhất việt nam, hệ thống bán vé nhanh nhất việt nam" />
    <link href="~/scripts/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/scripts/css/font-awesome.css" rel="stylesheet" />*@
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/scripts/css/index-css.css" rel="stylesheet" />
    <link href="~/scripts/css/jquery.bxslider.css" rel="stylesheet" />

    <!--Add-->
    <link href="~/scripts/css/slick.css" rel="stylesheet" />
    <link href="~/scripts/css/jquery.jscrollpane.css" rel="stylesheet" />
    <link href="~/scripts/css/jquery.drawer.css" rel="stylesheet" />
    <!--END-Add-->

</head>

<body>
    <!--Main-wrapper-->
    <div id="main-wrapper">
        <!--Header-->
        <div id="mega-header">
            <!--Topbar -->
            <div class="topbar">
                <div class="topbar-content">
                    <!--LEFT - Top menu-->
                    <div class="topbar-left">
                        <div class="menu-item">
                            <ul class="clearfix" id="topbar-nav">
                                <li class="res-toggle"><a href="javascript:void(0);" onclick="toggleClick()" class="tog-button"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                                <li>
                                    <a class="img-home" href="/Home"></a>
                                </li>
                                <li><a href="/Home/Introduce">Giới thiệu</a></li>
                                <li><a href="/Home/Events">Sự kiện</a></li>
                                <li><a href="/Home/Services">Dịch vụ</a></li>
                                <li><a href="/Home/Hire">Tuyển dụng</a></li>
                                <li><a href="/Home/FrequentlyAskedQuestions">FAQs</a></li>
                                <li><a href="/Home/Contact">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--LEFT - Top menu-->
                    <!--RIGHT - User area-->
                    <div class="topbar-right">
                        <div class="user-area">
                            <ul>
                                <li><a class="img-youtube" href="#"></a></li>
                                <li><a class="img-facebook" href="#"></a></li>
                                <li><a href="#" id="user-login-area"><i class="fa fa-users" aria-hidden="true"></i>  Đăng nhập</a></li>
                                <li><a href="#" id="user-register-area"><i class="fa fa-bell-o" aria-hidden="true"></i>  Đăng ký</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--RIGHT - User area-->
                </div>
            </div>
            <!--END Topbar -->

            <div style="clear:both"></div>

            <!--Navigation-->
            <div id="header-content">
                <div class="header-group cleafix-navigation">
                    <div class="header-left">
                        <a href="/Home"><img class="img-responsive" alt="Hệ thống đặt vé rạp chiếu phim Megastar" src="~/Assets/images/logo.png"></a>
                    </div>

                    <div class="header-right">
                        <ul>
                            <li id="A1"><a href="/Home/PagePhim"><i class="item-phim"></i> PHIM</a></li>
                            <li id="A2"><a href="#"><i class="item-lich"></i> LỊCH CHIẾU</a></li>
                            <li id="A3"><a href="/Home/PageRapGiaVe"><i class="item-rap"></i> RẠP & GIÁ VÉ</a></li>
                            <li id="A4"><a href="/Home/PageUuDai"><i class="item-uudai"></i> ƯU ĐÃI</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--END Navigation-->
        </div>
        <!--END Header-->

        <!--Page direction-->
        <div id="bg-all-title">
            <div class="text-titles">
                <div class="titles-span shar">
                    <a href="/">Trang chủ</a> >
                    @ViewBag.FeatureTitle
                </div>
                <div class="share-all">
                    <!-- <div class="fb-share-button" style="display: block" data-layout="button_count"></div> -->
                    <!--<iframe src="/ShareFacebook.aspx?link=https://www.megagscinemas.vn/" scrolling="no" framespacing='0' frameborder='no' width="100px" height="22px" scrolling='no'></iframe>-->
                </div>
            </div>
        </div>
        <!--END page direction-->

        <!--Content-->
        <div id="wrapper">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <!--END Content-->

        <!--Footer-->
        <div id="mega-footer">
            <div class="star-left"><img alt="" src="~/Assets/images/bg-footer.png" /></div>
            <div class="footer-content">
                <div class="footer-left">
                    <!-- Footer Links 1 -->
                    <div class="footer-link-1">
                        <ul>
                            <li><a href="https://www.megagscinemas.vn/phim/"><span class="item-movie-fo">phim</span></a></li>
                            <li><a href="https://www.megagscinemas.vn/lich-chieu/"><span class="item-schedule-fo">lịch chiếu</span></a></li>
                            <li><a href="https://www.megagscinemas.vn/rap/"><span class="item-fare-fo">rạp &amp; giá vé</span></a></li>
                            <li><a href="https://www.megagscinemas.vn/uu-dai/"><span class="item-deal-fo">ưu đãi</span></a></li>
                        </ul>
                    </div>


                    <!-- Footer Links 2 -->
                    <div class="footer-link-2">
                        <ul>
                            <li><a href="https://www.megagscinemas.vn/gioi-thieu/">Giới Thiệu</a></li>
                            <li><a href="https://www.megagscinemas.vn/su-kien/">Sự Kiện</a></li>
                            <li><a href="https://www.megagscinemas.vn/dich-vu/">Dịch Vụ</a></li>
                            <li><a href="https://www.megagscinemas.vn/tuyen-dung/">Tuyển Dụng</a></li>
                            <li><a href="https://www.megagscinemas.vn/dieu-khoan-chung/">Điều Khoản Chung</a></li>
                            <li><a href="https://www.megagscinemas.vn/lien-he/">Liên Hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="phone-ticket">
                        <h3>Hotline hỗ trợ</h3>
                        <div class="phone-number-lh">
                            <span class="icon-phone-lh"><i class="icons"></i></span>
                            <span class="number-phone-s">08 6264 9911</span>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="group-copy">
                        <div class="copy-left">
                            <h6>Công ty cổ phần Truyền Thông Giải Trí Mega GS</h6>
                            <p>
                                Địa chỉ: 01 Lý Tự Trọng - Phường Bến Nghé - Quận 1 - TP. HCM / Email: cskh@megags.vn / Hotline hỗ trợ: +84 08 62649911
                            </p>
                            <p>Số ĐKKD: 0312667335 - Ngày cấp: 22/6/2015 (Đăng ký thay đổi lần 6) / Nơi cấp: Sở kế hoạch và đầu tư thành phố Hồ Chí Minh</p>
                            <p>Copyright ©2015 Mega GS Cinemas. All rights reserved.</p>
                        </div>
                        <div class="copy-right">
                            <a target="_blank" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=20695"><img alt="" src="~/Assets/images/home/notify_BCT.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer2">
            <p>Copyright © 2016 by Megagscinema. Developed by Uboiz.<br/>Hotline hỗ trợ: 08 6264 9911</p>
        </div>
        <!--END Footer-->
    </div>
    <!--END Main-wraper-->

    <!--js-->
    <script type="text/javascript" src="~/scripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/scriptsjs/index.js"></script>

    <script type="text/javascript" src="~/scripts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="~/scripts/js/slick.min.js"></script>
    <script type="text/javascript" src="~/scripts/js/jquery.drawer.min.js"></script>
    <script type="text/javascript" src="~/scripts/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="~/scripts/js/jquery.drawer.min.js"></script>
    <script type="text/javascript" src="~/scripts/js/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="~/scripts/js/layout.js"></script>
</body>
</html>