
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Sửa tính năng rạp chiếu phim</h2>
<h1>Nguyen Van Nghia __</h1>
<h3>TEST Coca ___</h3>

