
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Danh sách các tính năng rạp chiếu phim</h2>
@*@for(int i = 0; i < 100; i++)
{
    <h1>Nguyen Van Nghia</h1>
}*@

