@using MegaCinemaModel.Models;
@using MegaCinemaWeb.Models;
@model IEnumerable<CinemaFeature>
@{
    ViewBag.Title = ViewBag.FeatureTitle = "Danh Sách tính năng rạp chiếu phim";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_LayoutPageAdmin.cshtml";
}


@*@for(int i = 0; i < 100; i++)
{
    <h1>Nguyen Van Nghia</h1>
}*@

