
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "Liên hệ | Hệ thống bán vé rạp chiếu phim Megastar";
}

       
                <div class="row mega-content">
                    <!--LEFT-->
                    <div class="col-lg-3">
                        <div class="introduce-menu">
                            <ul>
                                <li id="Mn1"><a href="/Home/Introduce">GIỚI THIỆU</a></li>
                                <li id="Mn2"><a href="/Home/FrequentlyAskedQuestions">FAQs</a></li>
                                <li id="Mn3"><a href="/Home/Hire">TUYỂN DỤNG</a></li>
                                <li id="Mn4"><a href="/Home/Contact">LIÊN HỆ</a></li>
                                <li id="Mn5"><a href="/dieu-khoan-chung/">ĐIỀU KHOẢN CHUNG</a></li>
                                <li id="Mn6"><a href="/chinh-sach-thanh-toan-ve-truc-tuyen/">CHÍNH SÁCH THANH TOÁN VÉ TRỰC TUYẾN</a></li>
                                <li id="Mn7"><a href="/MegaPlus/">Mega +</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--END LEFT-->
                    <!--RIGHT-->
                    <div class="col-lg-9">
                        <!--Title-->
                        <div class="view-title-repeat">
                            <div class="title-center">
                                <img src="~/Assets/images/item-lh.png" />
                                <span>Liên hệ</span>
                            </div>
                        </div>
                        <!--END Title-->

                        <div class="contact-content">
                            <div class="contact-group clearfix">
                                <div class="contact-left col-lg-5">
                                    <p style="text-align:center"><img src="~/Assets/images/logo-lh.png" /></p>
                                </div>
                                <div class="contact-right col-lg-7">
                                    <h4>Trụ sở chính:</h4>
                                    <p><span>01 Lý Tự Trọng, Phường Bến Nghé, Quận 1, TPHCM</span></p>
                                    <p>
                                        <span>Website:<span> <a href="http://www.megagscinemas.vn/" target="_blank">www.megagscinemas.vn</a></span></span>
                                    </p>
                                    <p> </p>

                                    <h4>Địa điểm kinh doanh:</h4>
                                    <p>19 Cao Thắng, Phường 2, Quận 3, TP.HCM.</p>
                                    <p> </p>
                                    <div class="contact-all">
                                        <p>Liên hệ văn phòng (Lầu 7):</p>
                                        <span class="icon-lh-01">(+84.8) 6282.4545</span> / <span class="icon-lh-02">(+84.8) 6282.3737</span><br /> <span class="icon-lh-03">8:30 – 18:00 (Thứ 2 đến thứ 6)</span>
                                    </div>
                                    <div class="contact-all">
                                        <p>Liên hệ rạp phim (Lầu 6-7):</p>
                                        <span class="icon-lh-01">(+84.8) 6264.9911</span> / <span class="icon-lh-02">(+84.8) 6264.9922</span>
                                    </div>
                                    <div class="contact-all none">
                                        <p>Liên hệ dịch vụ Quảng cáo:</p> Mr. Trung Chính<br />
                                        <span class="icon-lh-01">0917 339 183</span><br />
                                        <span class="icon-lh-03">8:30 – 18:00</span>
                                    </div>
                                    <div class="contact-all none">trungchinh@megags.vn</div>
                                    <div class="contact-all none"></div>
                                    <div class="contact-all none"></div>
                                    <div class="contact-all none">
                                        <div class="contact-all none">
                                            <p>Liên hệ dịch vụ Event - Hall Rental - Group Sale:</p> Ms. Ngọc Mai<br />
                                            <span class="icon-lh-01">0975 147 102</span><br />
                                            <span class="icon-lh-03">8:30 – 18:00</span>
                                        </div>
                                        <div class="contact-all none">ngocmai@megags.vn</div>
                                        <div class="contact-all none"></div>
                                    </div>
                                    <div class="contact-all none">
                                        <div class="contact-all none">
                                            <p>Liên hệ phòng Marketing:</p>
                                            Mr. Duy Hưng<br /><span class="icon-lh-01">0938 832 408</span><br /> <span class="icon-lh-03">8:30 – 18:00 (Thứ 2 đến thứ 6)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Map -->
                            <div class="maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5521394433435!2d106.68072251532072!3d10.76895816227496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f220559d037%3A0x6d815550960170a1!2sMega+CS+Cao+Th%E1%BA%AFng!5e0!3m2!1sen!2s!4v1447226198635" width="790" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div><!--RIGHT-->
                </div>
           
        <!--END Content-->
      