
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "Hệ thống bán vé rạp chiếu phim Megastar";
    ViewBag.FeatureTitle = "Sự kiện";
}

<!-- ROW -->
<div class="row mega-content">
    <!--Title-->
    <div class="view-title-repeat" style="margin-left: 20px; margin-right: 10px; margin-bottom: -30px;">
        <div class="title-center">
            <img src="~/Assets/images/film.png" />
            <span>Sự kiện</span>
        </div>
    </div>
    <!--END Title-->
    <!-- LIST EVENT -->
    <div class="col-lg-6">
        <div class='event-item row mega-content'>
            <div class='col-lg-5 img-event'>
                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'><img alt='Chi D&#226;n tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS' src='https://cms.megagscinemas.vn//media/75294/1.jpg?width=206&height=152' style='width:100%; ' /></a>
            </div>
            <div class='col-lg-7 text-event'>
                <div class="event-content">
                    <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'>
                        <h4>Chi Dân tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS</h4>
                    </a>
                    <p class='icon-calendar-t'>11/11/2016</p><span id='content'>Ngày 11/11 vừa qua, Chi Dân tổ chức buổi họp báo giới thiệu MV mới nhất mang tên Điều anh biết. Điều anh biết là ca khúc do Ân Nhi sáng tác. Chi Dân là ca sĩ rất ít khi hát ca khúc do những nhạc sĩ khác sáng tác. Vì Chi Dân là một trong những nghệ sĩ đa tài tự hát những ca khúc do chính anh sáng tác. Nhưng khi nghe những giai điệu từ bản demo của ca khúc</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class='event-item row mega-content'>
            <div class='col-lg-5 img-event'>
                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'><img alt='Chi D&#226;n tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS' src='https://cms.megagscinemas.vn//media/75294/1.jpg?width=206&height=152' style='width:100%; ' /></a>
            </div>
            <div class='col-lg-7 text-event'>
                <div class="event-content">
                    <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'>
                        <h4>Chi Dân tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS</h4>
                    </a>
                    <p class='icon-calendar-t'>11/11/2016</p><span id='content'>Ngày 11/11 vừa qua, Chi Dân tổ chức buổi họp báo giới thiệu MV mới nhất mang tên Điều anh biết. Điều anh biết là ca khúc do Ân Nhi sáng tác. Chi Dân là ca sĩ rất ít khi hát ca khúc do những nhạc sĩ khác sáng tác. Vì Chi Dân là một trong những nghệ sĩ đa tài tự hát những ca khúc do chính anh sáng tác. Nhưng khi nghe những giai điệu từ bản demo của ca khúc</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class='event-item row mega-content'>
            <div class='col-lg-5 img-event'>
                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'><img alt='Chi D&#226;n tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS' src='https://cms.megagscinemas.vn//media/75294/1.jpg?width=206&height=152' style='width:100%; ' /></a>
            </div>
            <div class='col-lg-7 text-event'>
                <div class="event-content">
                    <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'>
                        <h4>Chi Dân tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS</h4>
                    </a>
                    <p class='icon-calendar-t'>11/11/2016</p><span id='content'>Ngày 11/11 vừa qua, Chi Dân tổ chức buổi họp báo giới thiệu MV mới nhất mang tên Điều anh biết. Điều anh biết là ca khúc do Ân Nhi sáng tác. Chi Dân là ca sĩ rất ít khi hát ca khúc do những nhạc sĩ khác sáng tác. Vì Chi Dân là một trong những nghệ sĩ đa tài tự hát những ca khúc do chính anh sáng tác. Nhưng khi nghe những giai điệu từ bản demo của ca khúc</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class='event-item row mega-content'>
            <div class='col-lg-5 img-event'>
                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'><img alt='Chi D&#226;n tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS' src='https://cms.megagscinemas.vn//media/75294/1.jpg?width=206&height=152' style='width:100%; ' /></a>
            </div>
            <div class='col-lg-7 text-event'>
                <div class="event-content">
                    <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'>
                        <h4>Chi Dân tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS</h4>
                    </a>
                    <p class='icon-calendar-t'>11/11/2016</p><span id='content'>Ngày 11/11 vừa qua, Chi Dân tổ chức buổi họp báo giới thiệu MV mới nhất mang tên Điều anh biết. Điều anh biết là ca khúc do Ân Nhi sáng tác. Chi Dân là ca sĩ rất ít khi hát ca khúc do những nhạc sĩ khác sáng tác. Vì Chi Dân là một trong những nghệ sĩ đa tài tự hát những ca khúc do chính anh sáng tác. Nhưng khi nghe những giai điệu từ bản demo của ca khúc</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class='event-item row mega-content'>
            <div class='col-lg-5 img-event'>
                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'><img alt='Chi D&#226;n tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS' src='https://cms.megagscinemas.vn//media/75294/1.jpg?width=206&height=152' style='width:100%; ' /></a>
            </div>
            <div class='col-lg-7 text-event'>
                <div class="event-content">
                    <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'>
                        <h4>Chi Dân tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS</h4>
                    </a>
                    <p class='icon-calendar-t'>11/11/2016</p><span id='content'>Ngày 11/11 vừa qua, Chi Dân tổ chức buổi họp báo giới thiệu MV mới nhất mang tên Điều anh biết. Điều anh biết là ca khúc do Ân Nhi sáng tác. Chi Dân là ca sĩ rất ít khi hát ca khúc do những nhạc sĩ khác sáng tác. Vì Chi Dân là một trong những nghệ sĩ đa tài tự hát những ca khúc do chính anh sáng tác. Nhưng khi nghe những giai điệu từ bản demo của ca khúc</span>
                </div>
            </div>
        </div>
    </div>
    <!-- END - LIST EVENT -->

</div>
<!-- END - ROW -->
