@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "FAQs | Hệ thống bán vé rạp chiếu phim Megastar";
    ViewBag.FeatureTitle = "FAQs";
}



<div class="row mega-content">
    <!--LEFT-->
    <div class="col-lg-3">
        <div class="introduce-menu">
            <ul>
                <li id="Mn1"><a href="/gioi-thieu/">GIỚI THIỆU</a></li>
                <li id="Mn2"><a href="/faqs/">FAQs</a></li>
                <li id="Mn3"><a href="/tuyen-dung/">TUYỂN DỤNG</a></li>
                <li id="Mn4"><a href="/lien-he/">LIÊN HỆ</a></li>
                <li id="Mn5"><a href="/dieu-khoan-chung/">ĐIỀU KHOẢN CHUNG</a></li>
                <li id="Mn6"><a href="/chinh-sach-thanh-toan-ve-truc-tuyen/">CHÍNH SÁCH THANH TOÁN VÉ TRỰC TUYẾN</a></li>
                <li id="Mn7"><a href="/MegaPlus/">Mega +</a></li>
            </ul>
        </div>
    </div>
    <!--END LEFT-->
    <!--RIGHT-->
    <div class="col-lg-9">
        <!--Title-->
        <div class="view-title-repeat">
            <div class="title-center">
                <img src="~/Assets/images/item-faqs.png" width="32" />
                <span>FAQs</span>
            </div>
        </div>
        <!--END Title-->
        <!-- <div class="introduce-content">
            <img src="images/introduce-01.jpg" />
            <div class="introduce-text">
                <span>
                    <p style="text-align: justify;">
                        <span>Mega GS là chuỗi cụm rạp chiếu phim đẳng cấp, chính thức ra mắt lần đầu tiên tại TP.HCM vào tháng 8/2015 tại số 19 Cao Thắng Q.3.</span>
                        <br /><br />
                        <span>Với 6 phòng chiếu hiện đại, tổng số ghế gần 1.000, gồm 2 phòng chiếu 3D và 4 phòng chiếu 2D, Mega GS Cao Thắng chú trọng đầu tư vào thiết kế thân thiện và công nghệ tiên tiến. Chất lượng âm thanh, hình ảnh cao cấp với âm thanh vòm Dolby 7.1 và công nghệ trình chiếu 3D mới nhất, đặc biệt dãy ghế VIP với khả năng cảm ứng âm thanh chắc chắn sẽ mang lại những ấn tượng độc đáo mà bạn chưa từng trải nghiệm qua. Ngoài ra, đội ngũ nhân viên thân thiện &amp; mến khách của Mega GS cũng sẽ mang đến sự hài lòng, thoải mái dành cho khán giả.</span>
                        <br /><br />
                        <span>Một điều đáng chú ý là so với chất lượng mà Mega GS đem lại thì giá cả phù hợp là điểm cạnh tranh rất rõ ràng để Mega GS là một sự lựa chọn lý tưởng dành cho những tín đồ yêu điện ảnh.</span>
                        <br /><br />
                        <span>Trong tương lai, Mega GS sẽ phát triển thêm nhiều cụm rạp tại TP.HCM và trên khắp cả nước. Với phương châm mang lại cho khách hàng những trải nghiệm điện ảnh khác biệt và chất lượng dịch vụ tốt nhất, Mega GS hứa hẹn sẽ trở thành một điểm vui chơi giải trí đáng ghé thăm dành cho tất cả mọi người.</span>
                    </p>
                </span>
            </div>
        </div> -->

        <div class="faqs-content">
            <div class="drawer">
                <!--Phim 2D-->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Phim 2D là gì?</h1>
                    </div>
                    <div class='drawer-content'>
                        <div id="ui-id-11" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;">
                            <p><span style="font-size: 12pt;">Phim 2D sử dụng các thiết bị tương tự như phim 3D Digital chỉ khác là không có hiệu ứng 3D. Đồng thời, bạn sẽ vẫn được tận hưởng những hình ảnh sống động và âm thanh tuyệt vời mà không cần dùng kính.</span></p>
                            <p><span style="font-size: 12pt;">Điều này có nghĩa là bạn sẽ được thưởng thức hiệu ứng hình ảnh sáng hơn, sắc nét hơn của công nghệ 3D với âm thanh digital sống động.</span></p>
                        </div>
                    </div>
                </div>

                <!--Phim 3D-->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Phim 3D là gì?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p><span style="font-size: medium; font-family: arial, helvetica, sans-serif;">3D là chữ viết tắt của 3 Dimension, tiếng Việt có nghĩa là 3 chiều: Các phim ảnh thông thường hoặc những hình ảnh trên Tivi, máy tính là những phim hoặc những hình ảnh 2 chiều vì màn ảnh chỉ có 2 chiều là chiều rộng và chiều đứng (không có chiều sâu).</span></p>
                        <p><span style="font-size: medium; font-family: arial, helvetica, sans-serif;">Không gian ta đang sống là không gian 3 chiều. Loại phim 3D là loại phim dùng kỹ thuật hiện đại làm cho người xem cảm nhận được chiều sâu không gian của nhân vật, của phong cảnh thật như không gian ta đang sống, khán giả cảm thấy như đang sống thực trong phim. </span></p>
                    </div>
                </div>

                <!--Phim gán mác G-->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Phim dán mác G là gì?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Phim dán mác G là phim thích hợp cho mọi độ tuổi, được cấp giấy phép phát hành và phạm vi phổ biến phim bởi Cục Điện Ảnh thuộc Bộ Văn Hóa, Thể Thao và Du Lịch Việt Nam.</p>
                        <p>Do đó, các bạn có thể thưởng thức bộ phim với người thân trong gia đình và bạn bè.</p>
                    </div>
                </div>

                <!--Phim gán mác G-->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Phim dán mác N16 là gì?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Phim dán mác NC16 là những bộ phim không dành cho khán giả dưới 16 tuổi vì chủ đề và một số cảnh trong phim không thích hợp. Rạp có thể yêu cầu xác minh tuổi khi mua vé xem phim có mác NC16. Tất cả những phim được trình chiếu tại các rạp chiếu phim ở Việt Nam phải được kiểm duyệt, sau đó được cấp giấy phép phát hành và phạm vi phổ biến phim bởi Cục Điện Ảnh thuộc Bộ Văn Hóa, Thể Thao và Du Lịch Việt Nam. Do đó, một số cảnh quay có thể được yêu cầu phải cắt bỏ bởi Cục Điện Ảnh để phù hợp với văn hóa của Việt Nam trước khi lưu hành.</p>
                    </div>
                </div>

                <!-- Suất chiếu Sneak shows là gì? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Suất chiếu Sneak shows là gì?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Sneak Shows là các suất chiếu đặc biệt, phim sẽ được chiếu sớm hơn ngày khởi chiếu. Rạp Mega GS sẽ áp dụng giá vé riêng cho các suất chiếu Sneak shows.</p>
                    </div>
                </div>

                <!-- Có thể mua vé bằng cách nào? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Có thể mua vé bằng cách nào?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Có thể đặt vé online trên website bằng cách chọn xuất chiếu và tiến hành các bước chọn ghế và thanh toán như hiển thị trên website.</p>
                        <p>Hoặc đến mua trực tiếp tại Rạp Mega GS Cinemas - 19 Cao Thắng P.2 Q.3 TP.HCM</p>
                        <p><span style="color: #ff0000;"><strong>Lưu ý:</strong></span></p>
                        <ul>
                            <li>Khách hàng phải Đăng ký làm Thành Viên của Mega GS Cinemas thì mới có thể tiến hành các bước mua vé trực tuyến.</li>
                            <li>Các loại thẻ thanh toán nội địa hay quốc tê quý khách sử dụng phải được đăng ký Internet Banking.</li>
                            <li>Thẻ thanh toán quốc tế (Visa, Master) phải được phát hành tại Việt Nam </li>
                        </ul>
                    </div>
                </div>

                <!-- Rạp có ưu đãi giá vé cho trẻ em/người cao tuổi không? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Rạp có ưu đãi giá vé cho trẻ em/người cao tuổi không?</h1>
                    </div>
                    <div class='drawer-content'>
                        <div id="ui-id-37" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;">
                            <p>Mega GS áp dụng giá vé ưu đãi dành cho trẻ em/người cao tuổi trong cả tuần. Chi tiết xin xem bảng giá vé hoặc liên hệ quầy vé.</p>
                            <p>Bên cạnh đó, trẻ em dưới 1 mét khi đến xem phim tại Mega GS sẽ được miễn phí vé hoàn toàn. Bé sẽ ngồi chung ghế với bố mẹ khi xem phim.</p>
                            <p><span style="color: #ff0000;"><strong>Lưu ý:</strong></span></p>
                            <ul>
                                <li>Vé trẻ em: áp dụng cho trẻ em cao dưới 1.3 mét.</li>
                                <li>Vé người cao tuổi: áp dụng…. CMND khi mua vé. Mỗi CMND chỉ áp dụng cho 1 vé / người sử dụng.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Rạp có ưu đãi giá vé gì cho học sinh/sinh viên? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Rạp có ưu đãi giá vé gì cho học sinh/sinh viên?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Đối tượng là học sinh/sinh viên sẽ được hưởng giá vé ưu đãi trong cả tuần, đồng giá với trẻ em/người cao tuổi. Chi tiết xin xem bảng giá vé hoặc liên hệ quầy vé.</p>
                        <p><span style="color: #ff0000;"><strong>Lưu ý:</strong> </span></p>
                        <ul>
                            <li>HS-SV vui lòng có mặt trực tiếp tại quầy vé với thẻ HS-SV còn hạn sử dụng để hưởng các quyền lợi của mình.</li>
                            <li>Mỗi thẻ HS-SV chỉ áp dụng cho 1 vé / HS-SV sử dụng.</li>
                        </ul>
                    </div>
                </div>

                <!-- Thức ăn bên ngoài có được mang vào rạp hay không? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Thức ăn bên ngoài có được mang vào rạp hay không?</h1>
                    </div>
                    <div class='drawer-content'>
                        <div id="ui-id-35" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;">
                            <p>Để đảm bảo vệ sinh và an toàn thực phẩm, chỉ thức ăn và đồ uống được mua tại Mega GS mới được đem vào rạp chiếu phim.</p>
                            <p>Ngoài ra, bạn cũng không được hút thuốc, dùng kẹo cao su, không quay phim, chụp hình, không nghe hoặc gọi điện thoại, không nói chuyện và làm ồn trong rạp chiếu phim.</p>
                            <p>Tất cả những qui định trên để đảm bảo các bạn có thể thưởng thức phim một cách trọn vẹn và tuyệt vời nhất.</p>
                        </div>
                    </div>
                </div>

                <!-- Có phải gửi balo/ túi xách/ vật dụng cồng kềnh trước khi vào rạp hay không? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Có phải gửi balo/ túi xách/ vật dụng cồng kềnh trước khi vào rạp hay không?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Đối với các loại balo/túi xách lớn/ vật dụng cồng kềnh thì nhân viên sẽ yêu cầu bạn phải gửi tại quầy chăm sóc khách hàng. Gửi balo/túi xách/vật dụng cồng kềnh là để khi xảy ra sự cố, việc thoát hiểm cho khách sẽ diễn ra dễ dàng và an toàn hơn.</p>
                        <p>Đối với các loại balo/túi xách nhỏ thì nhân viên sẽ không yêu cầu phải gửi.</p>
                    </div>
                </div>

                <!-- Gửi balo/túi xách/ vật dụng cồng kềnh tại quầy có đảm bảo hay không? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Gửi balo/túi xách/ vật dụng cồng kềnh tại quầy có đảm bảo hay không?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Khi gửi balo/ túi xách và vật dụng cồng kềnh, nhân viên sẽ xé một phiếu có hai liên, một liên có dây để móc vào balo của khách, liên còn lại sẽ được đưa cho khách hàng giữ. Trên hai liên sẽ có mã số giống nhau để đối chiếu khi khách đến nhận balo tại quầy. Nên sẽ không có chuyện lấy nhầm cặp xách.</p>
                        <p>Tại các quầy giữ <span>balo/ túi xách và vật dụng cồng kềnh</span> của khách đều có Camera giám sát, nên việc thất lạc hoặc mất mác đồ đạc của khách hàng sẽ được BQL rạp xử lý rất triệt để nhằm không để sự cố có thể xảy ra.</p>
                    </div>
                </div>

                <!-- Sự khác nhau của ghế tiêu chuẩn, ghế VIP và ghế Couple là gì? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Sự khác nhau của ghế tiêu chuẩn, ghế VIP và ghế Couple là gì?</h1>
                    </div>
                    <div class='drawer-content'>
                        <div id="ui-id-43" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;">
                            <p> </p>
                            <div class="img-faq-vip-couples">
                                <p><strong>Ghế tiêu chuẩn (Standard)</strong>: là ghế ở khu vực trực diện gần màn hình hoặc ở 2 hành lang các lối lên rạp. Bạn có thể chọn các ghế gần màn hình hoặc xa màn hình nhằm đáp ứng sự thoải mái về tầm nhìn của mình nhất khi ngồi xem phim ở hàng ghế này.</p>
                                <p><strong><span class="hight-light">Ghế VIP:</span></strong> là ghế ở khu vực trung tâm của rạp chiếu phim, là vị trí tốt nhất để bạn có thể thưởng thức trọn vẹn bộ phim mà mình yêu thích. Đặc biệt, hầu hết ghế VIP tại Mega GS đều có hệ thống cảm biến âm thanh, ghế sẽ rung tùy vào cường độ âm thanh trong rạp lớn hay nhỏ.</p>
                                <p><span class="hight-light"><strong>Ghế đôi (Couples)</strong>: </span>là ghế nằm ở vị trí bao quát &amp; có tầm nhìn tốt nhất trong rạp. Ghế đôi luôn có thiết kế rộng, không tay chắn &amp; thuận lợi cho các khách hàng có tạng người cao, to hoặc rất thích hợp cho các cặp tình nhân cần không gian rộng rãi, thoải mái để có những giây phút xem phim tuyệt vời &amp; ấm cúng hơn.  </p>
                                <p>.</p>
                            </div>
                            <div class="img-faq-vip-couples">
                                <p> </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mega GS phát hành những loại thẻ thành viên nào? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Mega GS phát hành những loại thẻ thành viên nào?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Mega GS chỉ phát hành một loại thẻ thành viên duy nhất là Mega + (Mega Plus) cho tất cả các thành viên.</p>
                    </div>
                </div>

                <!-- Làm sao để đăng ký thẻ thành viên Mega + ? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Làm sao để đăng ký thẻ thành viên Mega + ?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Rất đơn giản! Bạn có thể đăng ký làm thành viên tại website www.megagscinemas.vn hoặc đến đăng ký tại hệ thống rạp Mega GS nhé :)</p>
                    </div>
                </div>

                <!-- Làm sao để nhận thẻ Mega + ? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Làm sao để nhận thẻ Mega + ?</h1>
                    </div>
                    <div class='drawer-content'>
                        <ol>
                            <li><span style="font-size: 12pt;">Đăng ký Thành viên tại website megagscinemas.vn.</span></li>
                            <li><span style="font-size: 12pt;">Đến hệ thống rạp Mega GS, cung cấp số điện thoại hoặc họ tên để nhận thẻ và tích lũy/đổi điểm khi giao dịch tại Mega GS.</span></li>
                        </ol>
                    </div>
                </div>

                <!-- Cách thức tính điểm cho thẻ Mega + là gì? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Cách thức tính điểm cho thẻ Mega + là gì?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;">Mỗi giao dịch thực hiện tại cụm Rạp Mega GS (mua vé phim, bắp, nước…) hoặc tại website: www.MegaGSCinemas.vn, khách hàng sẽ tích điểm (Mega Đồng) để đổi vé xem phim, thức uống hoặc combo tương ứng. Điểm được tích vào thẻ sẽ được tính dựa trên hóa đơn mua vé, bắp, nước; các bạn sẽ được tích 5% trên tổng hóa đơn vào thẻ Mega +.<br /></span></p>
                        <p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;"><strong><em><span style="text-decoration: underline;">Lưu ý:</span></em></strong> tỉ lệ điểm tích lũy được tính dựa trên giá trị thanh toán trước thuế.</span></p>
                        <p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;"><span style="text-decoration: underline;"><em><strong>Ví dụ:</strong></em></span> Khách hàng thanh toán hóa đơn 100.000 VND thì được tích 5% (số tiền chi tiêu trước thuế GTGT) tức 4.762 Mega đồng tương ứng 4.76 điểm cho giao dịch vé (Thuế GTGT của vé là 5%) &amp; 4.545 Mega đồng tương ứng 4.55 điểm cho giao dịch thức ăn (Thuế GTGT của thức ăn là 10%).</span></p>
                    </div>
                </div>

                <!-- Quy định về điểm thưởng của thẻ Mega + là gì? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Quy định về điểm thưởng của thẻ Mega + là gì?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;">Số điểm thưởng tích lũy được, sẽ có giá trị sử dụng trong vòng 1 năm, kể từ giao dịch được nhận điểm thưởng (điểm thưởng sẽ được ghi nhận trong vòng 24h kể từ thời điểm giao dịch thành công).</span></p>
                        <p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;">Khách hàng có thể dùng điểm để thanh toán giao dịch ngay khi có điểm, không giới hạn mức tối thiểu.</span></p>
                        <p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;">1 Mega Đồng tương đượng 1,000 Đồng khi thanh toán tại quầy. </span></p>
                        <p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;">Ví dụ: Cho giao dịch 100,000 VND, khách hàng có thể:</span></p>
                        <p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;">1.Thanh toán 80,000 VND + 20 Mega Đồng</span></p>
                        <p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;">2.Hoặc không thanh toán tiền mặt mà đổi bằng 100,000 Mega Đồng</span></p>
                        <p><span style="color: #ff0000;"><strong>Lưu ý: Mega Đồng không có giá trị quy đổi thành tiền mặt.</strong></span></p>
                    </div>
                </div>

                <!-- Điều kiện để nhận ưu đãi vào ngày sinh nhật của thành viên Mega + là gì? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Điều kiện để nhận ưu đãi vào ngày sinh nhật của thành viên Mega + là gì?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Để được hưởng ưu đãi vào ngày sinh nhật thì thành viên Mega + phải là thành viên từ 1 năm trở lên.</p>
                        <p>Thành viên chỉ được nhận ưu đãi vào tuần có ngày sinh nhật của thành viên.<br /><br />Ví dụ: sinh nhật vào ngày thứ 4, thì thành viên có thể nhận ưu đãi từ thứ 2 đến chủ nhật tuần đó.</p>
                    </div>
                </div>

                <!-- Các điều kiện để đặt vé trực tuyến thành công là gì? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Các điều kiện để đặt vé trực tuyến thành công là gì?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Quý khách cần tuân thủ các điều kiện sau:</p>
                        <ol>
                            <li>Đã đăng ký làm Thành Viên Mega+ và nhận email xác thực làm Thành viên.</li>
                            <li>Địa chỉ email và số điện thoại mà Quý khách đăng ký hoàn toàn chính xác vì Quý khách sẽ nhận được email và sms thông báo Mã đặt chỗ và các thông tin liên quan đến xuất chiếu đã đặt vé.</li>
                            <li>Thẻ thanh toán nội địa hoặc quốc tế phải được phát hành tại Việt Nam.</li>
                            <li>Số dư hoặc hạn mức tín dụng của thẻ thanh toán còn đủ để giao dịch.</li>
                            <li>Quý khách thực hiện giao dịch trong khoảng thời gian hiển thị còn lại trên website (trong các bước Chọn Ghế và Thanh Toán). </li>
                            <li>Không đóng Trình duyệt (Brower - Chrome, Safari, Firefox, Explorer, Edge, Cốc Cốc...) trước khi nhận được thông báo giao dịch đã thành công.</li>
                        </ol>
                        <p> </p>
                    </div>
                </div>

                <!-- Các lưu ý khi đặt vé trực tuyến -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Các lưu ý khi đặt vé trực tuyến.</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Trong vòng 30 phút kể từ lúc đặt vé thành công (đã nhận email và tin nhắn sms) nêu Quý khách không có bất kỳ phản hồi nào thì xem như không có khiếu nại phát sinh sau này.</p>
                        <p>Vé đã được thanh toán trực tuyến thành công không được hoàn tiền/ đổi với bất kỳ lý do gì.  </p>
                        <p> </p>
                        <p> </p>
                    </div>
                </div>

                <!-- Vé trẻ em / người cao tuổi & vé HS-SV có thể mua bằng hình thức thanh toán online không? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Vé trẻ em / người cao tuổi & vé HS-SV có thể mua bằng hình thức thanh toán online không?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Ngoại trừ vé người lớn được thanh toán bằng hình thức thanh toán vé online. Các trường hợp vé trẻ em / người cao tuổi &amp; vé HS-SV cần có mặt trực tiếp tại quầy để tiến hành mua vé &amp; hưởng các quyền lợi như rạp đã quy định.</p>
                    </div>
                </div>

                <!-- Mega Day là ngày nào? Giá vé? -->
                <div class='drawer-item'>
                    <div class='drawer-header'>
                        <div class='drawer-header-icon'></div><h1>Mega Day là ngày nào? Giá vé?</h1>
                    </div>
                    <div class='drawer-content'>
                        <p>Thứ 4 là ngày Mega Day của Cụm Rạp Mega GS.</p>
                        <p>Giá vé Mega Day tham khảo tại https://www.megagscinemas.vn/rap/</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--RIGHT-->
</div>

<!--END Content-->
