
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "Tuyển dụng | Hệ thống bán vé rạp chiếu phim Megasta";
    ViewBag.FeatureTitle = "Tuyển dụng";
}




<div class="row mega-content">
    <!--LEFT-->
    <div class="col-lg-3">
        <div class="introduce-menu">
            <ul>
                <li id="Mn1"><a href="/gioi-thieu/">GIỚI THIỆU</a></li>
                <li id="Mn2"><a href="/faqs/">FAQs</a></li>
                <li id="Mn3"><a href="/tuyen-dung/">TUYỂN DỤNG</a></li>
                <li id="Mn4"><a href="/lien-he/">LIÊN HỆ</a></li>
                <li id="Mn5"><a href="/dieu-khoan-chung/">ĐIỀU KHOẢN CHUNG</a></li>
                <li id="Mn6"><a href="/chinh-sach-thanh-toan-ve-truc-tuyen/">CHÍNH SÁCH THANH TOÁN VÉ TRỰC TUYẾN</a></li>
                <li id="Mn7"><a href="/MegaPlus/">Mega +</a></li>
            </ul>
        </div>
    </div>
    <!--END LEFT-->
    <!--RIGHT-->
    <div class="col-lg-9">
        <!--Title-->
        <div class="view-title-repeat">
            <div class="title-center">
                <img src="~/Assets/images/film.png" />
                <span>FAQs</span>
            </div>
        </div>
        <!--END Title-->



        <div class="faqs-content">
            <div class="drawer">
                <!-- First Item -->
                <div class="drawer-item">
                    <div class="drawer-header">
                        <h1 class="custom-h1">PART-TIME JOB</h1>
                        <div class="drawer-header-icon custom-header-icon"></div>
                    </div>
                    <div class="drawer-content">
                        <p><strong>Nơi làm việc:</strong> Mega GS Cao Thắng</p>
                        <p><strong>Yêu cầu:</strong></p>
                        <ul>
                            <li><span>Tính tình trung thực, vui vẻ và luôn giữ bình tĩnh.</span></li>
                            <li><span>Thích làm việc với khách hàng, thích làm việc trong ngành dịch vụ.</span></li>
                            <li><span>Sẵn sàng làm việc vào thứ 7, chủ nhật và ngày lễ.</span></li>
                        </ul>
                        <p><span>Bạn nào có hứng thú với công việc này thì hãy điền thông tin vào mẫu tuyển dụng và nộp tại quầy thông tin lầu 7 rạp Mega GS - 19 Cao Thắng Q3 nhé :)</span></p>
                        <p><span style="font-family: arial,helvetica,sans-serif;">Link mẫu tuyển dụng:   <a data-id="1446" href="https://cms.megagscinemas.vn//media/1240/megags-formtuyendungparttime.pdf" target="_blank" title="MegaGS-FormTuyenDungPartTime.pdf">tải </a></span></p>
                        <p>Nộp kèm:</p>
                        <ul>
                            <li><span style="font-size: 12pt;">Sơ yếu lý lịch.</span></li>
                            <li><span style="font-size: 12pt;">CMND</span></li>
                            <li><span style="font-size: 12pt;">Hộ Khẩu</span></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- Bo Phan Tuyen Dung -->
            <div class="depart-td">
                <div class="depart-content">
                    <h1>BỘ PHẬN TUYỂN DỤNG</h1>
                    <p>Công ty CP Truyền thông Giải trí Mega GS Phòng Nhân sự</p>
                    <p><span>Lầu 7, Tòa nhà 19 Cao Thắng, Phường 2, Quận 3, TP.HCM Email: HR@megags.vn</span></p>
                </div>
            </div>

        </div>




    </div>
    <!--RIGHT-->
</div>
