@using MegaCinemaWeb.Models;
@model IEnumerable<FilmViewModel>

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Hệ thống bán vé rạp chiếu phim Megastar</title>
    <link rel="icon" href="~/Assets/images/cinema_icon.ico" type="image/ico" size="16x16" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
    <meta name="keywords" content="Hệ thống bán vé online, Hệ thống rạp lớn nhất việt nam, hệ thống bán vé nhanh nhất việt nam" />
    <link href="~/scripts/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/scripts/css/font-awesome.css" rel="stylesheet" />
    <link href="~/scripts/css/index-css.css" rel="stylesheet" />
    <link href="~/scripts/css/jquery.bxslider.css" rel="stylesheet" />
    <!--Add-->
    <link href="~/scripts/css/slick.css" rel="stylesheet" />
    <link href="~/scripts/css/jquery.jscrollpane.css" rel="stylesheet" />
    <link href="~/scripts/css/jquery.drawer.css" rel="stylesheet" />
    <!--END-Add-->
    <script src="~/scripts/js/ShowTime.js"></script>
    <script src="~/scripts/js/ShowTimeDetailHome.js"></script>
</head>
<body>
    <!--Main-wrapper-->
    <div id="main-wrapper">
        <!--Header-->
        <div id="mega-header">
            <!--Topbar -->
            <div class="topbar">
                <div class="topbar-content">
                    <!--LEFT - Top menu-->
                    <div class="topbar-left">
                        <div class="menu-item">
                            <ul class="clearfix" id="topbar-nav">
                                <li class="res-toggle"><a href="javascript:void(0);" onclick="toggleClick()" class="tog-button"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                                <li>
                                    <a class="img-home" href="#"></a>
                                </li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Sự kiện</a></li>
                                <li><a href="#">Dịch vụ</a></li>
                                <li><a href="#">Tuyển dụng</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--LEFT - Top menu-->
                    <!--RIGHT - User area-->
                    <div class="topbar-right">
                        <div class="user-area">
                            <ul>
                                <li>
                                    <a class="img-youtube" href="#"></a>
                                </li>
                                <li>
                                    <a class="img-facebook" href="#"></a>
                                </li>
                                <li><a href="#" id="user-login-area"><i class="fa fa-users" aria-hidden="true"></i>  Đăng nhập</a></li>
                                <li><a href="#" id="user-register-area"><i class="fa fa-bell-o" aria-hidden="true"></i>  Đăng ký</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--RIGHT - User area-->
                </div>
            </div>
            <!--END Topbar -->
            <div style="clear:both"></div>
            <!--Navigation-->
            <div id="header-content">
                <div class="header-group cleafix-navigation">
                    <div class="header-left">
                        <a href="#"><img class="img-responsive" alt="Hệ thống đặt vé rạp chiếu phim Megastar" src="~/Assets/images/logo.png"></a>
                    </div>
                    <div class="header-right">
                        <ul>
                            <li id="A1"><a href="#"><i class="item-phim"></i> PHIM</a></li>
                            <li id="A2"><a href="#"><i class="item-lich"></i> LỊCH CHIẾU</a></li>
                            <li id="A3"><a href="#"><i class="item-rap"></i> RẠP & GIÁ VÉ</a></li>
                            <li id="A4"><a href="#"><i class="item-uudai"></i> ƯU ĐÃI</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--END Navigation-->
        </div>
        <!--END Header-->
        <!--Page direction-->
        <!-- <div id="bg-all-title">
            <div class="text-titles">
                <div class="titles-span shar">
                    <a href="/">Trang chủ</a> >
                    Giới thiệu
                </div>
                <div class="share-all">
                    <div class="fb-share-button" style="display: block" data-layout="button_count"></div>
                </div>
            </div>
        </div> -->
        <!--END page direction-->
        <!--Content-->
        <div id="wrapper" style="margin-top: -80px;">
            <div class="container">
                <!-- ROW 1 -->
                <div class="row mega-content">
                    <!--LEFT-->
                    <div class="col-lg-9" style="margin-right: -29px;">
                        <div class="bxslider" style="width: auto; position: relative;">
                            <div>
                                <a href="#">
                                    <img src="~/Assets/images/home/banner-sneakshow-cho-em.png" />
                                </a>
                                <div class="links-produce-slide">
                                    <a class="product-zoom open-popup" data-youtube-id="Sk5-eC0CZrY" href="javascript:void(0)" title=""></a>
                                    <div class="digital-group">
                                        <div class='digital-item'><span class='dt-xd'>2D</span><span class='dt-cus'>digital</span></div>
                                    </div>
                                    <div class="detail-tickets-link">
                                        <a href="/phim/cho-em-gan-anh-them-chut-nua/"><span>Chi tiết</span></a>
                                        <a href="/ShowTime.aspx?strName_Mv=CHO+EM+GAN+ANH+THEM+CHUT+NUA">
                                            <span>Mua Vé</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="~/Assets/images/home/banner-under.png" />
                                </a>
                                <div class="links-produce-slide">
                                    <a class="product-zoom open-popup" data-youtube-id="6loeTdm3ks4" href="javascript:void(0)" title=""></a>
                                    <div class="digital-group">
                                        <div class='digital-item'><span class='dt-xd'>2D</span><span class='dt-cus'>digital</span></div>
                                    </div>
                                    <div class="detail-tickets-link">
                                        <a href="/phim/the-gioi-ngam-tran-chien-dam-mau-nc16/"><span>Chi tiết</span></a>
                                        <a href="/ShowTime.aspx?strName_Mv=UNDERWORLD%3a+BLOOD+WARS+%5bNC16%5d">
                                            <span>Mua Vé</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="~/Assets/images/home/banner-ve-si.png" />
                                </a>
                                <div class="links-produce-slide">
                                    <div class="digital-group">
                                    </div>
                                    <div class="detail-tickets-link">
                                        <a href="/phim/ve-si-tieu-tho-va-chang-kho/"><span>Chi tiết</span></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="~/Assets/images/home/banner-quyam.png" />
                                </a>
                                <div class="links-produce-slide">
                                    <div class="digital-group">
                                    </div>
                                    <div class="detail-tickets-link">
                                        <a href="/phim/quy-am-nc16/"><span>Chi tiết</span></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="~/Assets/images/home/banner-vung-xac-song2.png" />
                                </a>
                                <div class="links-produce-slide">
                                    <div class="digital-group">
                                    </div>
                                    <div class="detail-tickets-link">
                                        <a href="/phim/vung-xac-song-nc16/"><span>Chi tiết</span></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="~/Assets/images/home/banner-fb.png" />
                                </a>
                                <div class="links-produce-slide">
                                    <div class="digital-group">
                                    </div>
                                    <div class="detail-tickets-link">
                                        <a href="/phim/sinh-vat-huyen-bi-va-noi-tim-ra-chung/"><span>Chi tiết</span></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="~/Assets/images/home/banner-moana.png" />
                                </a>
                                <div class="links-produce-slide">
                                    <div class="digital-group">
                                    </div>
                                    <div class="detail-tickets-link">
                                        <a href="/phim/hanh-trinh-cua-moana/"><span>Chi tiết</span></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a>
                                    <img alt="" src="images/home/members-day-c-banner.jpg?width=845&height=333" />
                                </a>
                                <div class="links-produce-slide">
                                    <div class="detail-tickets-link">
                                        <div class="slide-text">
                                            <a href="https://www.megagscinemas.vn/uu-dai/ngay-hoi-thanh-vien/">
                                                Chi tiết
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--END LEFT-->
                    <!--RIGHT-->
                    <div class="col-lg-3">
                        <div class="slide-right">
                            <div class="slide-text" style="width: 100%;">
                                <div class="title-slide-right">
                                    <h3>Mua vé Online</h3>
                                </div>
                                <div class="slide-right">
                                    <div class="content-slide-right">
                                        <div class="form_selected_slide">
                                            <div class="customselectBox click_box_1">
                                                <span class="selected">MEGA GS CAO THẮNG</span>
                                                <div class="selectOptions" style="display: none">
                                                    <div class="bg-opacity">
                                                        <span class="selectOption">MEGA GS CAO THẮNG</span>
                                                        <span class="selectOption">MEGA GS Quận 8</span>
                                                        <span class="selectOption">MEGA GS Phú Yên</span>
                                                        <span class="selectOption">MEGA GS Quảng Bình</span>
                                                        <span class="selectOption">MEGA GS Bình Thuận</span>
                                                    </div>
                                                </div>
                                                <i class="icon-down"></i>
                                            </div>
                                            <div class="customselectBox click_box_2">
                                                <span class="selected" strmv="">Chọn phim</span>
                                                <div class="selectOptions" style="display: none">
                                                    <div class="bg-opacity">
                                                        <!-- <div class="group_lists"></div> -->
                                                        <span class="selectOption">Cô giáo thảo 18+</span>
                                                        <span class="selectOption">Ni cô chải tóc bên bờ suối</span>
                                                        <span class="selectOption">Những cô gái tầng 11</span>
                                                        <span class="selectOption">Cao ốc ảo diệu</span>
                                                        <span class="selectOption">Số phận diệu kỳ</span>
                                                    </div>
                                                </div>
                                                <i class="icon-down"></i>
                                            </div>
                                            <div class="customselectBox click_box_3">
                                                <!--Content trong "Chọn ngày"-->
                                                <span class="selected">Chọn ngày</span>
                                                <div class="selectOptions" style="display: none">
                                                    <div class="bg-opacity">
                                                        <p class="title">SINH VẬT HUYỀN BÍ VÀ NƠI TÌM RA CHÚNG - 2D SUB/ PHỤ ĐỀ</p>
                                                        <div class="date-item">
                                                            <p>Hôm nay: Đéo chiếu!!!</p>
                                                        </div>
                                                        <div class="date-item">
                                                            <p>Ngày mai (2-12)</p>
                                                            <div class="cust_padd_left">
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32666" onclick="bookingClick(this)">11:00</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32667" onclick="bookingClick(this)">12:50</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32668" onclick="bookingClick(this)">14:40</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32669" onclick="bookingClick(this)">16:30</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32670" onclick="bookingClick(this)">18:20</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32696" onclick="bookingClick(this)">20:10</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32697" onclick="bookingClick(this)">22:00</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="date-item">
                                                            <p>Ngày mốt (3-12)</p>
                                                            <div class="cust_padd_left">
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32726" onclick="bookingClick(this)">9:10</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32727" onclick="bookingClick(this)">11:00</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32728" onclick="bookingClick(this)">12:50</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32729" onclick="bookingClick(this)">14:40</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32730" onclick="bookingClick(this)">16:30</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32731" onclick="bookingClick(this)">18:20</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32732" onclick="bookingClick(this)">20:10</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32733" onclick="bookingClick(this)">22:00</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="date-item">
                                                            <p>Chủ nhật (4-12)</p>
                                                            <div class="cust_padd_left">
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32775" onclick="bookingClick(this)">9:10</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32776" onclick="bookingClick(this)">11:00</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32777" onclick="bookingClick(this)">12:50</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32778" onclick="bookingClick(this)">14:40</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32779" onclick="bookingClick(this)">16:30</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32780" onclick="bookingClick(this)">18:20</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32781" onclick="bookingClick(this)">20:10</span></a>
                                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32782" onclick="bookingClick(this)">22:00</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--END-Content trong "Chọn ngày"-->
                                                <i class="icon-down"></i>
                                            </div>
                                            <div class="note-label">
                                                <label><i>(*)</i>Chọn vào suất chiếu để đặt vé trực tuyến</label>
                                            </div>
                                            <div class="bg-close-selectbox" style="display: none"></div>
                                        </div>
                                        <p><span>Hỗ trợ khách hàng: </span>08 62649911</p>
                                        <p>cskh@megags.vn</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--RIGHT-->

                </div> <!-- END - ROW 1 -->
                <!-- ROW 2 -->
                <div class="row mega-content" style="margin-left: 20px;">
                    <!-- Tab Product -->
                    <div class="tab-product">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="pads" data-toggle="tab" href="#movie-dc">
                                    <img src="~/Assets/images/home/item-movie-dc.png" />
                                    <span class="span-tab">Phim Đang Chiếu</span>
                                </a>
                            </li>
                            <li>
                                <a class="pads" data-toggle="tab" href="#movie-sc">
                                    <img src="~/Assets/images/home/item-movie-sc.png" />
                                    <span class="span-tab">Phim Sắp Chiếu</span>
                                </a>
                            </li>
                            <li>
                                <a class="pads" data-toggle="tab" href="#movie-scdb">
                                    <img src="~/Assets/images/home/item-movie-scdb.png" />
                                    <span class="span-tab">Suất Chiếu Đặc Biệt</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Tab Contents Product -->
                        <div class="tab-content">
                            <!-- PHIM ĐANG CHIẾU -->
                            <div id="movie-dc" class="tab-pane fade in active">
                                <div class="autoplay">
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <div class="product-items">
                                                <a href="javascript:;">
                                                    <div class="icon-hot" style="display: block">
                                                        <img src="~/Assets/images/home/item-hot.png" />
                                                    </div>
                                                    <div class="episode-all" style="display: block">
                                                        <p>16</p>
                                                        <p class="custom-p">12</p>
                                                    </div>
                                                    <img class="bg-new-only" alt="@item.FilmName" src="~/Content/FilmPoster/@item.FilmPoster" style="width: 240px; height: 355px" />
                                                </a>
                                                <!-- Link Product -->
                                                <div class="links-produce">
                                                    <!-- zoom image-->
                                                    <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="Sk5-eC0CZrY" title=""></a>
                                                    <!-- Title product item-->
                                                    <div class="title-product-item">
                                                        <span>@item.FilmName</span>
                                                        <br />
                                                        <span style="font-size: 11px;">
                                                            @item.FilmName
                                                        </span>
                                                    </div>
                                                    <!-- Detail link-->
                                                    <div class="detail-link"><a href="/phim/cho-em-gan-anh-them-chut-nua/"><span>Chi tiết >></span></a></div>
                                                    <!-- tickets link-->
                                                    <div class="tickets-link" style="display: block"><a href="/ShowTime.aspx?strName_Mv=CHO+EM+GAN+ANH+THEM+CHUT+NUA"><span><i class="icon-p fa fa-ticket"></i>Mua Vé</span></a></div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <!-- PHIM SẮP CHIẾU -->
                            <div id="movie-sc" class="tab-pane fade">
                                <!-- Product Item -->
                                <div class="autoplay">
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>09</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img alt="H&#204;NH NH&#194;N [NC16]" src="https://cms.megagscinemas.vn//media/75300/hinh-nhan.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="OzyGtNqFS50" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>HÌNH NHÂN [NC16]</span>
                                                <br />
                                                <span style="font-size: 11px;"></span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/hinh-nhan-nc16/"><span>Chi tiết >></span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>09</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img alt="H&#204;NH NH&#194;N [NC16]" src="https://cms.megagscinemas.vn//media/75300/hinh-nhan.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="OzyGtNqFS50" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>HÌNH NHÂN [NC16]</span>
                                                <br />
                                                <span style="font-size: 11px;"></span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/hinh-nhan-nc16/"><span>Chi tiết >></span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>09</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img alt="H&#204;NH NH&#194;N [NC16]" src="https://cms.megagscinemas.vn//media/75300/hinh-nhan.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="OzyGtNqFS50" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>HÌNH NHÂN [NC16]</span>
                                                <br />
                                                <span style="font-size: 11px;"></span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/hinh-nhan-nc16/"><span>Chi tiết >></span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>09</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img alt="H&#204;NH NH&#194;N [NC16]" src="https://cms.megagscinemas.vn//media/75300/hinh-nhan.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="OzyGtNqFS50" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>HÌNH NHÂN [NC16]</span>
                                                <br />
                                                <span style="font-size: 11px;"></span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/hinh-nhan-nc16/"><span>Chi tiết >></span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>09</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img alt="H&#204;NH NH&#194;N [NC16]" src="https://cms.megagscinemas.vn//media/75300/hinh-nhan.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="OzyGtNqFS50" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>HÌNH NHÂN [NC16]</span>
                                                <br />
                                                <span style="font-size: 11px;"></span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/hinh-nhan-nc16/"><span>Chi tiết >></span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>09</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img alt="H&#204;NH NH&#194;N [NC16]" src="https://cms.megagscinemas.vn//media/75300/hinh-nhan.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="OzyGtNqFS50" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>HÌNH NHÂN [NC16]</span>
                                                <br />
                                                <span style="font-size: 11px;"></span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/hinh-nhan-nc16/"><span>Chi tiết >></span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>09</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img alt="H&#204;NH NH&#194;N [NC16]" src="https://cms.megagscinemas.vn//media/75300/hinh-nhan.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="OzyGtNqFS50" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>HÌNH NHÂN [NC16]</span>
                                                <br />
                                                <span style="font-size: 11px;"></span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/hinh-nhan-nc16/"><span>Chi tiết >></span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>09</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img alt="H&#204;NH NH&#194;N [NC16]" src="https://cms.megagscinemas.vn//media/75300/hinh-nhan.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="OzyGtNqFS50" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>HÌNH NHÂN [NC16]</span>
                                                <br />
                                                <span style="font-size: 11px;"></span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/hinh-nhan-nc16/"><span>Chi tiết >></span></a></div>
                                        </div>
                                    </div>
                                </div><!-- END - Product Item -->
                                <!-- View All Detail tabs -->
                            </div>
                            <!-- SUẤT CHIẾU ĐẶC BIỆT -->
                            <div id="movie-scdb" class="tab-pane fade ">
                                <!-- Product Item -->
                                <div class="autoplay">
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>02</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img class=" bg-new-only" alt="CHO EM GẦN ANH TH&#202;M CH&#218;T NỮA" src="https://cms.megagscinemas.vn//media/75279/choem.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="Sk5-eC0CZrY" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>CHO EM GẦN ANH THÊM CHÚT NỮA</span>
                                                <br />
                                                <span style="font-size: 11px;">
                                                    CHO EM GẦN ANH THÊM CHÚT NỮA
                                                </span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/cho-em-gan-anh-them-chut-nua/"><span>Chi tiết >></span></a></div>
                                            <!-- tickets link-->
                                            <div class="tickets-link" style="display: block"><a href="/ShowTime.aspx?strName_Mv=CHO+EM+GAN+ANH+THEM+CHUT+NUA"><span><i class="icon-p fa fa-ticket"></i>Mua Vé</span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>02</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img class=" bg-new-only" alt="CHO EM GẦN ANH TH&#202;M CH&#218;T NỮA" src="https://cms.megagscinemas.vn//media/75279/choem.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="Sk5-eC0CZrY" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>CHO EM GẦN ANH THÊM CHÚT NỮA</span>
                                                <br />
                                                <span style="font-size: 11px;">
                                                    CHO EM GẦN ANH THÊM CHÚT NỮA
                                                </span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/cho-em-gan-anh-them-chut-nua/"><span>Chi tiết >></span></a></div>
                                            <!-- tickets link-->
                                            <div class="tickets-link" style="display: block"><a href="/ShowTime.aspx?strName_Mv=CHO+EM+GAN+ANH+THEM+CHUT+NUA"><span><i class="icon-p fa fa-ticket"></i>Mua Vé</span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>02</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img class=" bg-new-only" alt="CHO EM GẦN ANH TH&#202;M CH&#218;T NỮA" src="https://cms.megagscinemas.vn//media/75279/choem.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="Sk5-eC0CZrY" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>CHO EM GẦN ANH THÊM CHÚT NỮA</span>
                                                <br />
                                                <span style="font-size: 11px;">
                                                    CHO EM GẦN ANH THÊM CHÚT NỮA
                                                </span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/cho-em-gan-anh-them-chut-nua/"><span>Chi tiết >></span></a></div>
                                            <!-- tickets link-->
                                            <div class="tickets-link" style="display: block"><a href="/ShowTime.aspx?strName_Mv=CHO+EM+GAN+ANH+THEM+CHUT+NUA"><span><i class="icon-p fa fa-ticket"></i>Mua Vé</span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>02</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img class=" bg-new-only" alt="CHO EM GẦN ANH TH&#202;M CH&#218;T NỮA" src="https://cms.megagscinemas.vn//media/75279/choem.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="Sk5-eC0CZrY" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>CHO EM GẦN ANH THÊM CHÚT NỮA</span>
                                                <br />
                                                <span style="font-size: 11px;">
                                                    CHO EM GẦN ANH THÊM CHÚT NỮA
                                                </span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/cho-em-gan-anh-them-chut-nua/"><span>Chi tiết >></span></a></div>
                                            <!-- tickets link-->
                                            <div class="tickets-link" style="display: block"><a href="/ShowTime.aspx?strName_Mv=CHO+EM+GAN+ANH+THEM+CHUT+NUA"><span><i class="icon-p fa fa-ticket"></i>Mua Vé</span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>02</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img class=" bg-new-only" alt="CHO EM GẦN ANH TH&#202;M CH&#218;T NỮA" src="https://cms.megagscinemas.vn//media/75279/choem.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="Sk5-eC0CZrY" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>CHO EM GẦN ANH THÊM CHÚT NỮA</span>
                                                <br />
                                                <span style="font-size: 11px;">
                                                    CHO EM GẦN ANH THÊM CHÚT NỮA
                                                </span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/cho-em-gan-anh-them-chut-nua/"><span>Chi tiết >></span></a></div>
                                            <!-- tickets link-->
                                            <div class="tickets-link" style="display: block"><a href="/ShowTime.aspx?strName_Mv=CHO+EM+GAN+ANH+THEM+CHUT+NUA"><span><i class="icon-p fa fa-ticket"></i>Mua Vé</span></a></div>
                                        </div>
                                    </div>
                                    <div class="product-items">
                                        <a href="javascript:;">
                                            <div class="icon-hot" style="display: block">
                                                <img src="~/Assets/images/home/item-hot.png" />
                                            </div>
                                            <div class="episode-all" style="display: block">
                                                <p>02</p>
                                                <p class="custom-p">12</p>
                                            </div>
                                            <img class=" bg-new-only" alt="CHO EM GẦN ANH TH&#202;M CH&#218;T NỮA" src="https://cms.megagscinemas.vn//media/75279/choem.jpg?width=240&height=355" style="width: 240px; height: 355px" />
                                        </a>
                                        <!-- Link Product -->
                                        <div class="links-produce">
                                            <!-- zoom image-->
                                            <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="Sk5-eC0CZrY" title=""></a>
                                            <!-- Title product item-->
                                            <div class="title-product-item">
                                                <span>CHO EM GẦN ANH THÊM CHÚT NỮA</span>
                                                <br />
                                                <span style="font-size: 11px;">
                                                    CHO EM GẦN ANH THÊM CHÚT NỮA
                                                </span>
                                            </div>
                                            <!-- Detail link-->
                                            <div class="detail-link"><a href="/phim/cho-em-gan-anh-them-chut-nua/"><span>Chi tiết >></span></a></div>
                                            <!-- tickets link-->
                                            <div class="tickets-link" style="display: block"><a href="/ShowTime.aspx?strName_Mv=CHO+EM+GAN+ANH+THEM+CHUT+NUA"><span><i class="icon-p fa fa-ticket"></i>Mua Vé</span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- View All Detail tabs -->
                            </div>
                            <!-- XEM TẤT CẢ -->
                            <div style="text-align: center;">
                                <a class="text-xtc" href="/phim/" id="redirec_mv" style="font-size: 18px;">Xem tất cả <span style="font-size: 14px">>></span></a>
                            </div>
                        </div>
                    </div><!-- END - Tab Product -->
                </div><!-- END - ROW 2 -->
                <!-- ROW 3 -->
                <div class="row mega-content">
                    <!-- Product Deals ưu đãi-->
                    <div class="product-details clearfix" style="margin-left: 15px;">
                        <div class="title-det clearfix">
                            <div class="det-img">
                                <img src="~/Assets/images/home/item-speacial.png" />
                            </div>
                            <div class="det-all">
                                <p class="text-ud">Ưu Đãi</p>
                                <a class="text-xtc" href="/uu-dai/">Xem tất cả >></a>
                            </div>
                        </div>
                        <!-- Slide Special Offer -->
                        <div class="special-offer">
                            <div class="spec">
                                <div class='special-item'>
                                    <a href='/uu-dai/mega-day-thu-4-hang-tuan/'><img alt='Mega Day - Thứ 4 h&#224;ng tuần' src='https://cms.megagscinemas.vn//media/1169/mega-day.jpg?width=320&height=240' style='width:320px;height:240px' /></a>
                                    <a class='detail-spec' href='/uu-dai/mega-day-thu-4-hang-tuan/'><span>Chi tiết >></span></a>
                                </div>
                                <div class='special-item'>
                                    <a href='/uu-dai/xem-phim-dong-gia-truoc-11-00/'><img alt='XEM PHIM ĐỒNG GI&#193; -  Trước 11:00' src='https://cms.megagscinemas.vn//media/50559/suat-som-web.png?width=320&height=240' style='width:320px;height:240px' /></a>
                                    <a class='detail-spec' href='/uu-dai/xem-phim-dong-gia-truoc-11-00/'><span>Chi tiết >></span></a>
                                </div>
                                <div class='special-item'>
                                    <a href='/uu-dai/xem-phim-khuya-chang-lo-ve-gia/'><img alt='XEM PHIM KHUYA CHẲNG LO VỀ GI&#193;' src='https://cms.megagscinemas.vn//media/74944/suat-khuya-webz.png?width=320&height=240' style='width:320px;height:240px' /></a>
                                    <a class='detail-spec' href='/uu-dai/xem-phim-khuya-chang-lo-ve-gia/'><span>Chi tiết >></span></a>
                                </div>
                                <div class='special-item'>
                                    <a href='/uu-dai/ngay-hoi-thanh-vien/'><img alt='NG&#192;Y HỘI TH&#192;NH VI&#202;N' src='https://cms.megagscinemas.vn//media/50531/members-day-c-web.jpg?width=320&height=240' style='width:320px;height:240px' /></a>
                                    <a class='detail-spec' href='/uu-dai/ngay-hoi-thanh-vien/'><span>Chi tiết >></span></a>
                                </div>
                                <div class='special-item'>
                                    <a href='/uu-dai/combo-kung-fu-panda-3/'><img alt='COMBO KUNG FU PANDA 3' src='https://cms.megagscinemas.vn//media/1230/combo-panda-web.png?width=320&height=240' style='width:320px;height:240px' /></a>
                                    <a class='detail-spec' href='/uu-dai/combo-kung-fu-panda-3/'><span>Chi tiết >></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- END - ROW 3 -->
                <!-- ROW 4 -->
                <div class="row mega-content">
                    <!-- LEFT -->
                    <div class="col-lg-9 events" style="margin-right: -16px;">
                        <div class=" event-left">
                            <div class="padd-event">
                                <!-- Events title-->
                                <div class="title-event clearfix">
                                    <div class="event-img">
                                        <img src="~/Assets/images/home/item-event.png" />
                                    </div>
                                    <div class="event-all">
                                        <p class="text-sk">Sự Kiện</p>
                                        <a class="text-xtc" href="/su-kien/">Xem tất cả >></a>
                                    </div>
                                </div>
                                <!-- Events contents-->
                                <div class="contents-event row">
                                    <div class="col-lg-6">
                                        <div class='event-item'>
                                            <div class='item-left'>
                                                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'><img alt='Chi D&#226;n tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS' src='https://cms.megagscinemas.vn//media/75294/1.jpg?width=134' style='width:134px;'></a>
                                            </div>
                                            <div class='item-right'>
                                                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'>
                                                    <p>Chi Dân tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS</p>
                                                </a><span>Địa điểm: Rạp MEGA GS Cinemas.<br /> Ngày 11/11/2016.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class='event-item'>
                                            <div class='item-left'>
                                                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'><img alt='Chi D&#226;n tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS' src='https://cms.megagscinemas.vn//media/75294/1.jpg?width=134' style='width:134px;'></a>
                                            </div>
                                            <div class='item-right'>
                                                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'>
                                                    <p>Chi Dân tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS</p>
                                                </a><span>Địa điểm: Rạp MEGA GS Cinemas.<br /> Ngày 11/11/2016.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class='event-item'>
                                            <div class='item-left'>
                                                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'><img alt='Chi D&#226;n tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS' src='https://cms.megagscinemas.vn//media/75294/1.jpg?width=134' style='width:134px;'></a>
                                            </div>
                                            <div class='item-right'>
                                                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'>
                                                    <p>Chi Dân tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS</p>
                                                </a><span>Địa điểm: Rạp MEGA GS Cinemas.<br /> Ngày 11/11/2016.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class='event-item'>
                                            <div class='item-left'>
                                                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'><img alt='Chi D&#226;n tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS' src='https://cms.megagscinemas.vn//media/75294/1.jpg?width=134' style='width:134px;'></a>
                                            </div>
                                            <div class='item-right'>
                                                <a href='/su-kien/chi-dan-tung-mv-sau-khi-dieu-anh-biet-dat-30-trieu-view-tai-mega-gs/'>
                                                    <p>Chi Dân tung MV sau khi Điều Anh biết đạt 30 triệu view tại Mega GS</p>
                                                </a><span>Địa điểm: Rạp MEGA GS Cinemas.<br /> Ngày 11/11/2016.</span>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div><!-- END - LEFT -->
                    <!-- Right -->
                    <div class="col-lg-3">
                        <!-- Facebook -->
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fquynhkhangmedia&tabs=timeline&width=281&height=408&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1628628730768057" width="281" height="408" style="border:none;overflow:hidden; margin-top: -1px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        <!-- End Facebook -->
                    </div><!-- END - Right -->
                </div><!-- END - ROW 4 -->
            </div>
        </div><!--END Content-->
        <!--Trước Footer-->
        <!--         <div class="popup-opacity-home"></div>
                <div class="popup-main-home">
                    <div class="popup-content-home">
                        <div class="show-content-home">
                        </div>
                    </div>
                </div> -->
        <!--Footer-->
        <div id="mega-footer">
            <div id="container">
                <div id="star-left">
                    <img src="~/Assets/images/bg-footer.png" />
                </div>
                <div id="footer-content">
                    <div class="footer-left">
                        <h3>Hotline hỗ trợ</h3>
                        <div class="phone-number">
                            <span class="icon-phone">
                                <i class="icons"></i>
                            </span>
                            <span class="number-phone">08 2649 911</span>
                        </div>
                    </div>
                    <div class="copyright">
                        <div class="group-copy">
                            <div class="copy-left">
                                <h6>Công ty cổ phần Truyền Thông Giải Trí Mega GS</h6>
                                <p>
                                    Địa chỉ: 01 Lý Tự Trọng - Phường Bến Nghé - Quận 1 - TP. HCM / Email: cskh@megags.vn / Hotline hỗ trợ: +84 08 62649911
                                </p>
                                <p>
                                    Số ĐKKD: 0312667335 - Ngày cấp: 22/6/2015 (Đăng ký thay đổi lần 6) / Nơi cấp: Sở kế hoạch và đầu tư thành phố Hồ Chí Minh
                                </p>
                                <p>
                                    Copyright ©2016 Mega GS Cinemas. All rights reserved - Uboiz Team
                                </p>
                            </div>
                            <div class="copy-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END Footer-->
    </div>
    <!--END Main-wraper-->
    <!--js-->
    <script src="~/scripts/js/jquery.min.js"></script>
    <script src="~/scripts/js/index.js"></script>
    <script src="~/scripts/js/bootstrap.min.js"></script>
    <script src="~/scripts/js/slick.min.js"></script>
    <script src="~/scripts/js/jquery.bxslider.js"></script>
    <script src="~/scripts/js/jquery.jscrollpane.min.js"></script>
    <script src="~/scripts/js/jquery.drawer.min.js"></script>
    <script src="~/scripts/js/jquery.twbsPagination.min.js"></script>
    <script src="~/scripts/js/layout.js"></script>  
</body>
</html>