
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Giới thiệu | Hệ thống bán vé rạp chiếu phim Megastar</title>
    <link rel="icon" href="images/cinema_icon.ico" type="image/ico" size="16x16" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
    <meta name="keywords" content="Hệ thống bán vé online, Hệ thống rạp lớn nhất việt nam, hệ thống bán vé nhanh nhất việt nam" />
    <link rel="stylesheet" href="~/scripts/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/scripts/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="~/scripts/css/jquery.bxslider.css">
    <link rel="stylesheet" href="~/scripts/css/index-css.css">
    <!--Add-->
    <link href="~/scripts/css/slick.css" rel="stylesheet" />
    <link href="~/scripts/css/jquery.jscrollpane.css" rel="stylesheet" />
    <link href="~/scripts/css/jquery.drawer.css" rel="stylesheet" />
    <!--END-Add-->

</head>

<body>
    <!--Main-wrapper-->
    <div id="main-wrapper">
        <!--Header-->
        <div id="mega-header">
            <!--Topbar -->
            <div class="topbar">
                <div class="topbar-content">
                    <!--LEFT - Top menu-->
                    <div class="topbar-left">
                        <div class="menu-item">
                            <ul class="clearfix" id="topbar-nav">
                                <li class="res-toggle"><a href="javascript:void(0);" onclick="toggleClick()" class="tog-button"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                                <li>
                                    <a class="img-home" href="#"></a>
                                </li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Sự kiện</a></li>
                                <li><a href="#">Dịch vụ</a></li>
                                <li><a href="#">Tuyển dụng</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--LEFT - Top menu-->
                    <!--RIGHT - User area-->
                    <div class="topbar-right">
                        <div class="user-area">
                            <ul>
                                <li><a class="img-youtube" href="#"></a></li>
                                <li><a class="img-facebook" href="#"></a></li>
                                <li><a href="#" id="user-login-area"><i class="fa fa-users" aria-hidden="true"></i>  Đăng nhập</a></li>
                                <li><a href="#" id="user-register-area"><i class="fa fa-bell-o" aria-hidden="true"></i>  Đăng ký</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--RIGHT - User area-->
                </div>
            </div>
            <!--END Topbar -->

            <div style="clear:both"></div>

            <!--Navigation-->
            <div id="header-content">
                <div class="header-group cleafix-navigation">
                    <div class="header-left">
                        <a href="#"><img class="img-responsive" alt="Hệ thống đặt vé rạp chiếu phim Megastar" src="~/Assets/images/logo.png"></a>
                    </div>

                    <div class="header-right">
                        <ul>
                            <li id="A1"><a href="#"><i class="item-phim"></i> PHIM</a></li>
                            <li id="A2"><a href="#"><i class="item-lich"></i> LỊCH CHIẾU</a></li>
                            <li id="A3"><a href="#"><i class="item-rap"></i> RẠP & GIÁ VÉ</a></li>
                            <li id="A4"><a href="#"><i class="item-uudai"></i> ƯU ĐÃI</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--END Navigation-->
        </div>
        <!--END Header-->
        <!--Page direction-->
        <div id="bg-all-title">
            <div class="text-titles">
                <div class="titles-span shar">
                    <a href="/">Trang chủ</a> >
                    Giới thiệu
                </div>
                <div class="share-all">
                    <!-- <div class="fb-share-button" style="display: block" data-layout="button_count"></div> -->
                    <!--<iframe src="/ShareFacebook.aspx?link=https://www.megagscinemas.vn/" scrolling="no" framespacing='0' frameborder='no' width="100px" height="22px" scrolling='no'></iframe>-->
                </div>
            </div>
        </div>
        <!--END page direction-->
        <!--Content-->
        <div id="wrapper">
            <div class="container">
                <div class="row mega-content">
                    <!--LEFT-->
                    <div class="col-lg-3">
                        <div class="introduce-menu">
                            <ul>
                                <li id="Mn1"><a href="/gioi-thieu/">GIỚI THIỆU</a></li>
                                <li id="Mn2"><a href="/faqs/">FAQs</a></li>
                                <li id="Mn3"><a href="/tuyen-dung/">TUYỂN DỤNG</a></li>
                                <li id="Mn4"><a href="/lien-he/">LIÊN HỆ</a></li>
                                <li id="Mn5"><a href="/dieu-khoan-chung/">ĐIỀU KHOẢN CHUNG</a></li>
                                <li id="Mn6"><a href="/chinh-sach-thanh-toan-ve-truc-tuyen/">CHÍNH SÁCH THANH TOÁN VÉ TRỰC TUYẾN</a></li>
                                <li id="Mn7"><a href="/MegaPlus/">Mega +</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--END LEFT-->
                    <!--RIGHT-->
                    <div class="col-lg-9">
                        <!--Title-->
                        <div class="view-title-repeat">
                            <div class="title-center">
                                <img src="~/Assets/images/film.png" />
                                <span>Giới thiệu</span>
                            </div>
                        </div>
                        <!--END Title-->

                        <div class="introduce-content">
                            <img src="~/Assets/images/introduce-01.jpg" />
                            <div class="introduce-text">
                                <span>
                                    <p style="text-align: justify;">
                                        <span>Mega GS là chuỗi cụm rạp chiếu phim đẳng cấp, chính thức ra mắt lần đầu tiên tại TP.HCM vào tháng 8/2015 tại số 19 Cao Thắng Q.3.</span>
                                        <br /><br />
                                        <span>Với 6 phòng chiếu hiện đại, tổng số ghế gần 1.000, gồm 2 phòng chiếu 3D và 4 phòng chiếu 2D, Mega GS Cao Thắng chú trọng đầu tư vào thiết kế thân thiện và công nghệ tiên tiến. Chất lượng âm thanh, hình ảnh cao cấp với âm thanh vòm Dolby 7.1 và công nghệ trình chiếu 3D mới nhất, đặc biệt dãy ghế VIP với khả năng cảm ứng âm thanh chắc chắn sẽ mang lại những ấn tượng độc đáo mà bạn chưa từng trải nghiệm qua. Ngoài ra, đội ngũ nhân viên thân thiện &amp; mến khách của Mega GS cũng sẽ mang đến sự hài lòng, thoải mái dành cho khán giả.</span>
                                        <br /><br />
                                        <span>Một điều đáng chú ý là so với chất lượng mà Mega GS đem lại thì giá cả phù hợp là điểm cạnh tranh rất rõ ràng để Mega GS là một sự lựa chọn lý tưởng dành cho những tín đồ yêu điện ảnh.</span>
                                        <br /><br />
                                        <span>Trong tương lai, Mega GS sẽ phát triển thêm nhiều cụm rạp tại TP.HCM và trên khắp cả nước. Với phương châm mang lại cho khách hàng những trải nghiệm điện ảnh khác biệt và chất lượng dịch vụ tốt nhất, Mega GS hứa hẹn sẽ trở thành một điểm vui chơi giải trí đáng ghé thăm dành cho tất cả mọi người.</span>
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--RIGHT-->
                </div>
            </div>
        </div>
        <!--END Content-->
        <!--Footer-->
        <div id="mega-footer">
            <div id="container">
                <div id="star-left">
                    <img src="~/Assets/images/bg-footer.png">
                </div>

                <div id="footer-content">
                    <div class="footer-left">
                        <h3>Hotline hỗ trợ</h3>
                        <div class="phone-number">
                            <span class="icon-phone">
                                <i class="icons"></i>
                            </span>
                            <span class="number-phone">08 2649 911</span>
                        </div>
                    </div>

                    <div class="copyright">
                        <div class="group-copy">
                            <div class="copy-left">
                                <h6>Công ty cổ phần Truyền Thông Giải Trí Mega GS</h6>
                                <p>
                                    Địa chỉ: 01 Lý Tự Trọng - Phường Bến Nghé - Quận 1 - TP. HCM / Email: cskh@megags.vn / Hotline hỗ trợ: +84 08 62649911
                                </p>
                                <p>
                                    Số ĐKKD: 0312667335 - Ngày cấp: 22/6/2015 (Đăng ký thay đổi lần 6) / Nơi cấp: Sở kế hoạch và đầu tư thành phố Hồ Chí Minh
                                </p>
                                <p>
                                    Copyright ©2016 Mega GS Cinemas. All rights reserved - Uboiz Team
                                </p>
                            </div>
                            <div class="copy-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END Footer-->
    </div>
    <!--END Main-wraper-->
    <!--js-->
    <script type="text/javascript" src="~/scripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/scripts/js/index.js"></script>
    <script type="text/javascript" src="~/scripts/js/jquery.bxslider.js"></script>
</body>
</html>