
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "Giới thiệu | Hệ thống bán vé rạp chiếu phim Megastar";
}





<div class="row mega-content">
    <!--LEFT-->
    <div class="col-lg-3">
        <div class="introduce-menu">
            <ul>
                <li id="Mn1"><a href="/gioi-thieu/">GIỚI THIỆU</a></li>
                <li id="Mn2"><a href="/faqs/">FAQs</a></li>
                <li id="Mn3"><a href="/tuyen-dung/">TUYỂN DỤNG</a></li>
                <li id="Mn4"><a href="/lien-he/">LIÊN HỆ</a></li>
                <li id="Mn5"><a href="/dieu-khoan-chung/">ĐIỀU KHOẢN CHUNG</a></li>
                <li id="Mn6"><a href="/chinh-sach-thanh-toan-ve-truc-tuyen/">CHÍNH SÁCH THANH TOÁN VÉ TRỰC TUYẾN</a></li>
                <li id="Mn7"><a href="/MegaPlus/">Mega +</a></li>
            </ul>
        </div>
    </div>
    <!--END LEFT-->
    <!--RIGHT-->
    <div class="col-lg-9">
        <!--Title-->
        <div class="view-title-repeat">
            <div class="title-center">
                <img src="~/Assets/images/film.png" />
                <span>Giới thiệu</span>
            </div>
        </div>
        <!--END Title-->

        <div class="introduce-content">
            <img src="~/Assets/images/introduce-01.jpg" />
            <div class="introduce-text">
                <span>
                    <p style="text-align: justify;">
                        <span>Mega GS là chuỗi cụm rạp chiếu phim đẳng cấp, chính thức ra mắt lần đầu tiên tại TP.HCM vào tháng 8/2015 tại số 19 Cao Thắng Q.3.</span>
                        <br /><br />
                        <span>Với 6 phòng chiếu hiện đại, tổng số ghế gần 1.000, gồm 2 phòng chiếu 3D và 4 phòng chiếu 2D, Mega GS Cao Thắng chú trọng đầu tư vào thiết kế thân thiện và công nghệ tiên tiến. Chất lượng âm thanh, hình ảnh cao cấp với âm thanh vòm Dolby 7.1 và công nghệ trình chiếu 3D mới nhất, đặc biệt dãy ghế VIP với khả năng cảm ứng âm thanh chắc chắn sẽ mang lại những ấn tượng độc đáo mà bạn chưa từng trải nghiệm qua. Ngoài ra, đội ngũ nhân viên thân thiện &amp; mến khách của Mega GS cũng sẽ mang đến sự hài lòng, thoải mái dành cho khán giả.</span>
                        <br /><br />
                        <span>Một điều đáng chú ý là so với chất lượng mà Mega GS đem lại thì giá cả phù hợp là điểm cạnh tranh rất rõ ràng để Mega GS là một sự lựa chọn lý tưởng dành cho những tín đồ yêu điện ảnh.</span>
                        <br /><br />
                        <span>Trong tương lai, Mega GS sẽ phát triển thêm nhiều cụm rạp tại TP.HCM và trên khắp cả nước. Với phương châm mang lại cho khách hàng những trải nghiệm điện ảnh khác biệt và chất lượng dịch vụ tốt nhất, Mega GS hứa hẹn sẽ trở thành một điểm vui chơi giải trí đáng ghé thăm dành cho tất cả mọi người.</span>
                    </p>
                </span>
            </div>
        </div>
    </div>
    <!--RIGHT-->
</div>

<!--END Content-->
