
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "Dịch vụ | Hệ thống bán vé rạp chiếu phim Megastar";
}





<!-- ROW -->
<div class="row mega-content">
    <!--Title-->
    <div class="view-title-repeat" style="margin-left: 20px; margin-right: 10px;">
        <div class="title-center">
            <img src="~/Assets/images/item-sales-services.png" width="32" />
            <span>Dịch vụ</span>
        </div>
    </div>
    <!--END Title-->
    <!-- LIST SERVICES -->
    <div class="col-lg-4">
        <div class='services-item'>
            <a href='/dich-vu/the-qua-tang-gift-card/'>
                <img src='https://cms.megagscinemas.vn//media/1051/gift-card.png?width=351&height=262' />
                <p>THẺ QUÀ TẶNG [GIFT CARD]</p><span>THẺ QUÀ TẶNG [GIFT CARD]</span>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class='services-item'>
            <a href='/dich-vu/dich-vu-quang-cao/'>
                <img src='https://cms.megagscinemas.vn//media/1088/sales_service_01.png?width=351&height=262' />
                <p>DỊCH VỤ QUẢNG CÁO</p><span>Dịch vụ quảng cáo tại Mega GS</span>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class='services-item'>
            <a href='/dich-vu/cho-thue-phong-hoi-nghi-su-kien-private-show/'>
                <img src='https://cms.megagscinemas.vn//media/1089/sales_service_02.png?width=351&height=262' />
                <p>CHO THUÊ PHÒNG HỘI NGHỊ - SỰ KIỆN - PRIVATE SHOW</p><span>Cho thuê phòng hội nghị - tồ chức Sự Kiện - private show</span>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class='services-item'>
            <a href='/dich-vu/ticket-voucher/'>
                <img src='https://cms.megagscinemas.vn//media/1090/ticket-voucher.png?width=351&height=262' />
                <p>TICKET VOUCHER</p><span>Ticket Voucher</span>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class='services-item'>
            <a href='/dich-vu/ve-nhom/'>
                <img src='https://cms.megagscinemas.vn//media/1091/ticket.png?width=351&height=262' />
                <p>VÉ NHÓM</p><span>Mua càng nhiều - Tiết kiệm càng lớn</span>
            </a>
        </div>
    </div>
    <!-- END - LIST SERVICES -->

</div><!-- END - ROW -->
<!--END Content-->
