/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
/* custom */
.slick-prev, .slick-next {
    position: absolute;
    top: 42%;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-next {
    right: -43px;
    background: url("../../Assets/images/home/controls.png") no-repeat;
    width: 43px;
    height: 43px;
    background-position: -47px -46px;
}
.slick-next:hover{
	background-position: -47px -2px;
}
.slick-prev {
    left: -43px;
	background:url("../../Assets/images/home/controls.png") no-repeat;
	width:43px;
	height:43px;
	background-position: 0px -46px;	
}
.slick-prev:hover{
	background-position: 0px -2px;
}
/*******************************************/

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* == custom css Detail slide five == */
.slide_five .prev-cus-1{
	top: 35%;
    left: -22px;
    z-index: 99;
}
.slide_five .next-cus-1{
	top: 35%;
    right: -13px;
    z-index: 99;
}
/* == custom css Detail slide Uu Dai Khac == */
.slide-ud-khac .prev-cus-2{
	top:33%;
}
.slide-ud-khac .next-cus-2{
	top:33%;
}