<div class="modal fade" id=ConfirmModal tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteLabel">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa dữ liệu hay không? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-danger" id="deleteConfirm" url="" >Đồng ý</button>
            </div>
        </div>
    </div>
</div>