@model IEnumerable<MegaCinemaModel.Models>
@using MegaCinemaWeb.Infrastructure.Core;

@{
    ViewBag.Title = ViewBag.FeatureTitle = "Danh sách thể loại phim";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_LayoutPageAdmin.cshtml";
}
@{ foreach(var item in Model) {
        <p>@item.FilmCategoryName</p>
    }
    
}
