/*Reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
	text-decoration: none;
}
/*========CUSTOM CSS ÄETAIL========*/

/*BODY CSS*/
html{
	min-height: 100%;

}

body{
	background-image: url("../../../images/background.png");
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0px;
	width: 100%;
	left:0;
	right:0;
	display: block;
	overflow-x:hidden;
}                                                                                      

#main-wrapper{
	margin: 0 auto;
	width:100%;
}

/*HEADER CLIENT CSS*/
#mega-header{
	font-size: 14px;
	font-weight: 600;
	width:100%;
	margin-bottom: 50px;
	overflow: hidden;
}

.topbar{
	background: #e5a813;
	height:47px;
	width:100%;
}

.topbar-content{
	margin: 0 auto;
}

.topbar-left{
	float:left;
	margin-left: 40px;
}

.menu-item{
	line-height: 47px;
}

ul.clearfix{
	overflow: hidden;
}

ul.clearfix li{
	float: left;
	padding-right: 25px;
}

ul.clearfix li:nth-child(2){
	margin-top: 5px;
}
ul.clearfix li a{
	color:black;
	display: block;

}

ul.clearfix li a:hover{
	color:#f1f1f1;
	text-decoration: none;
}

.img-home{
	background: url("../../../images/img-home.png") no-repeat;
	width:25px;
	height:25px;
	display:inline-block;
	position: relative;
	top:5px;
}

ul.clearfix li.res-toggle{
	display:none;
}

ul.clearfix li:first-child a i{
	margin-left: 10px;
}
ul.clearfix li:first-child a i{
	margin-left: 10px;
}
.img-youtube{
	background: url("../../../images/img-youtube.png") no-repeat;
	width:31px;
	height:31px;
	display:inline-block;
	position: relative;
	top:8px;
	margin-left: 30px;
}

.img-facebook{
	background: url("../../../images/img-facebook.png") no-repeat;
	width:31px;
	height:31px;
	display:inline-block;
	position: relative;
	top:6px;
	margin-left:-20px;
}
ul.clearfix li:nth-child(8){
	padding-right: 5px;
}

/*USER CLIENT AREA */
.topbar-right{
	margin-right: 20px;
	float:top;
}
.user-area ul li:first-child{
	margin-right: 20px;
}
.user-area ul li{
	display:inline-block;
	line-height: 47px;
}
.user-area ul li{
	display:inline-block;
	line-height: 47px;
	margin-right: 10px;
}

.user-area ul li a{
	color:black;
}

.user-area ul li a:hover{
	color:white;
}
.user-area{
}
/*MENU CLIENT CSS*/
#header-content{
	margin:0 auto;
	color : #fff;
	height: 135px;
}

.header-left{
	float: left;
	width: 30%;
	margin-top: 20px;
	left:0;
}

.header-left a img{
	margin-left: 30px;
}
.header-right{
	float:right;
	width: 70%;
}

.header-right  ul{
	padding:0;
	margin: 0!important;
}

.header-right > ul li{
	float:left;
	list-style: none;
	padding: 10px 0 15px 20px;
	line-height: 110px;
}

.header-right > ul li a{
	font-size: 26px;
	font-weight: 600;
	text-transform: uppercase;
	color:#fff;
	outline: none;
}

.header-right > ul li a:hover{
	color:#f1c40f;
}

.header-right  ul li a i.item-phim{
	width: 32px;
	height:32px;
	background: url("../../../images/phim.png") no-repeat;
	display:inline-block;
	top: 5px;	
	position: relative;
}

.header-right  ul li a i.item-lich{
	width: 32px;
	height:32px;
	background: url("../../../images/lich.png") no-repeat;
	display:inline-block;
	top: 5px;	
	position: relative;
}

.header-right  ul li a i.item-uudai{
	width: 32px;
	height:32px;
	background: url("../../../images/uudai.png") no-repeat;
	display:inline-block;
	top: 5px;	
	position: relative;
}

.header-right  ul li a i.item-rap{
	width: 32px;
	height:32px;
	background: url("../../../images/ve.png") no-repeat;
	display:inline-block;
	top: 5px;	
	position: relative;
}

/*FOOTER CLIENT CSS*/
#wrapper{
	height: 100%;
	margin-bottom:125px;
}

#mega-footer{
	margin-bottom: -40px;
	width:100%;
	height: 188px;
	position: relative;	
	bottom: 0;
	display: inline-block;
	left:0;
	right:0;
	background-color :#e5a813;
}

#container{
	position: absolute;
	width: 100%;
	display: inline-block;
	bottom: 0;
}

#star-left{
	float:left;
	left:0;
	bottom: 0;
	width: 20%;
	display: inline-block;
}

#footer-content{
	width: 80%;	
	height: 100%;
	display: inline-block;
	float:left;
}

.footer-left{
	height: 165px;
	display: block;
	width: 100%;
	line-height: 165px;
}

.copyright{

}

.copy-left{
	margin-top: 15px;
}

.copy-left h6{
	margin-top: 0px;
	font-size: 12px;
	font-weight: bold;
	color:#3e3e3e;
	text-align: center;
}

.copy-left p{
	font-size: 12px;
	font-weight: 400;
	color:#3e3e3e;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.phone-number{
	display: inline-block;
	position: relative;
	height: 65px;
	color:#fff;
	padding: 10px 0;
	text-align: center;
}

.icon-phone{
	background-color:#fff;
	width:60px;
	height:60px;
	text-align: center;
	display: inline-block;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	border: 6px solid #3E3E3E;
	position: relative;
	z-index: 10;
	vertical-align: middle;
}

.icon-phone i.icons{
	background: url("../../../images/icon-phone.png") no-repeat center;
	width: 40px;
	height: 40px;
	position: absolute;
	display: table;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: 5px;
}


.number-phone{
	font-size: 21px;
	color: white;
	width:150px;
	display: inline-block;
	position: relative;
	height: 47px;
	font-weight: 700;
}

.footer-left h3{
	font-size: 24px;
	font-weight: 700;
	color:#000;
	display: inline-block;
	text-align: left;
	padding-left: 4px;
	margin-bottom: 5px;
	margin-right: 15px;
}

.footer-left{
	text-align: center;
	margin-left: -100px;
}

/*CONTENT BODY*/
#wrapper{
	color: white;
}

/*  ----  slider phim   ----*/


/* ---- master page -----*/

/*position page*/
.text-titles{
	width:100%;
	height:45px;
	line-height: 45px;
	background-color: #787878;
	margin-top: -50px;
	margin-bottom: 30px;
	position: relative;
	overflow-y: hidden;
}

.title-span{
	margin-left: 5%;
	position: absolute;
	color:#fff;
	font-size: 20px;
	font-weight: 700;
}

.title-span a{
	color: #fff;
}

.title-span a:hover{
	color:#e5a813;
}
/*Title page*/
.view-title-repeat{
	background: url("../../../images/item-vien.png") repeat-x;
	max-width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

.title-center{
	height:53px;
	background: #e5a812;
	margin: 0 auto;
	border:3px solid #fff;
	line-height: 45px;
	border-radius:25px 25px;
	position: relative;
	bottom: 23px;
	display: inline-block;
	padding: 0 10px;
}

.title-center span{
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	position: relative;
	bottom: 8px;
	font-size:1.25em;
}

.title-center img{
	margin-top: 5px;
	display: inline-block;
	position: relative;
	margin-right: 10px;

}

.end-title .view-title-repeat .title-center span{
	bottom: 0;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	position: relative;
	font-size:1em;
}

.mega-content{
	margin-left: 5px;
}
/* ---- end of master page ---- */

/*MEDIA RESPONSIVE PC first*/
 @media (max-width: 1920px){
	/*top area*/
	.topbar-left{
		width:70%;
		padding-left: 200px;
	}
	.topbar-content{
		margin: 0 auto;
	}
	/*user area*/
	/*navigation area*/
	.header-left{
		padding-left: 190px;
		
	}
	.header-left img{
		width:100%;
	}
	.header-right{
		padding-left: 300px;
		padding-top: 35px;
	}
	.header-right ul li a{
		font-size: 35px;
	}
 }

 @media (max-width: 1366px){
	/*top area*/
	.topbar-left{
		width:70%;
		padding-left: 80px;
	}
	.topbar-content{
		margin: 0 auto;
	}
	/*user area*/
	/*navigation area*/
	.header-left{
		padding-left: 80px;
	}
	.header-right{
		padding-left: 110px;
		padding-top: 25px;
	}

	.header-left img{
		width:100%;
	}
	.header-right ul li a{
		font-size: 25px;
	}
 }


 @media (max-width: 1280px){
	.topbar-left{
		width:60%;
		padding-left: 20px;
	}

	.topbar-right{
		width:30%;
		float:left;
	}

	.topbar-content{
		margin: 0 auto;
	}
	/*user area*/
	/*navigation area*/
	.header-left{
		padding-left: 40px;
	}
	.header-right{
		padding-left: 20px;
	}
	.topbar-content{
		margin: 0 auto;
	}
	/*user area*/
	/*navigation area*/
	.header-left{
		padding-left: 80px;
	}
 }


 @media (max-width: 1024px){
 	/*top bar*/
	.user-area{
 		margin-left: 50px;
 	}
	div.topbar-content{
		margin: 0 auto!important;
	}
	#header-content{
		margin: 0 auto;
	}
	.topbar-left{
		margin-left: 30px!important;
		padding-left: 50px;
		width: 70%;		
	}

	/*user area*/
	.topbar-right{
		position: absolute;
		margin-left: 55%;
		width:50%;
	}

	/*navigation area*/
	.header-left{
		width:30%!important;
		padding-left: 0px;
		float:left;
	}	
	.header-left img{
		width:100%!important;
	}

	.header-right {
		width:70%;
		padding-left: 20px;
	}
	.header-right ul li:first-child{
		margin-left: 20px;
	}
	.header-right > ul li a{
		font-size: 20px;

	}
 }

 @media (max-width: 1000px){
	/*top area*/
	.topbar-left{
		margin-left: 0px!important;
		padding-left:0px;
		width: 100%;
	}
	ul.clearfix li:not(:first-child){
		display: none;
	}
	.menu-item ul{
		width: 100%;
		float:left;
	}
	ul.clearfix li.res-toggle{
		float:left;
		display:inline-block;
		position: relative;
		width: 30px;
		height: 30px;
		clear: both;
	}

	ul.clearfix.responsive-topbar{
		position:relative;		
		width: 100%;
		-webkit-box-shadow: 0 8px 6px -6px #F27935;
	    -moz-box-shadow: 0 8px 6px -6px #F27935;
	    box-shadow: 0 8px 6px -6px #F27935;
	}
	
	ul.clearfix.responsive-topbar li{
		display: block;
		float:none;
	}
	ul.clearfix.responsive-topbar li a {
   	 	display: block;
    	text-align: left;
  	}

	/*user area*/
	/*navigation area*/
	.header-left{
		width:100%!important;
		padding-left:0px;
		float:left;
	}	
	.header-left a img {
		width:40%!important;
		margin-left: 250px!important;
	}
	.header-right {
		padding-left:0px;
		width:100%;
	}
	.header-right > ul li a{
		font-size: 22px;
	}

	/*style drop down menu*/
	ul.clearfix.responsive-topbar li:not(:first-child){
		height: 40px;
		line-height: 40px;
		padding-left: 10px;
		background-color: #F5D76E;
	}
	ul.clearfix.responsive-topbar li:nth-child(2){
		display: none;
	}
	ul.clearfix.responsive-topbar li:first-child {
		margin-bottom: 15px;
	}
	ul.clearfix.responsive-topbar li:not(:first-child):hover{
		background-color: #F4D03F;
	}
	ul.clearfix.responsive-topbar li:not(:first-child):hover a{
		color:black;
	}
	ul.clearfix.responsive-topbar li:nth-child(9) a{
		float:left;
		display: inline;
	}

	/*footer*/
	#star-left, .footer-left, .copy-left p{
		display: none;
	}
	#mega-footer{
		height:50px;	
		position: relative;
	}


	.copy-left h3{
		line-height: 50px;
	}
	#container{
		height:50px;
	}
	#footer-content{
		width: 100%;
	}
 }

 @media (max-width: 768px){
 	body{
 		width:100%;
 	}
	/*top area*/
	/*old design*/
	ul.clearfix li:not(:first-child){
		display: none;
	}

	ul.clearfix li.res-toggle{
		float:left;
		display:inline-block;
		position: relative;
		width: 30px;
		height: 30px;
		clear: both;
	}
	/*user area*/
	.topbar-right{
		position: absolute;
		margin-left: 50%;
	}

	.topbar-left{
		margin-left: 0px!important;
		width: 100%;
	}

	/*end old design*/
	ul.clearfix.responsive-topbar{
		position:relative;		
		width: 100%;
		-webkit-box-shadow: 0 8px 6px -6px #F27935;
	    -moz-box-shadow: 0 8px 6px -6px #F27935;
	    box-shadow: 0 8px 6px -6px #F27935;
	}
	
	ul.clearfix.responsive-topbar li{
		display: block;
		float:none;
	}
	ul.clearfix.responsive-topbar li a {
   	 	display: block;
    	text-align: left;
  	}
	
	
	/*user area*/
	/*navigation area*/
	.header-left{
		width: 30%;
	}
	.header-left img{
		display: block;
		margin-left: 250px;
	}
	.header-right{
		float:left;		
		margin-right: auto;
	}
	.header-right ul{
		height: 138px;
		margin-left: 40px!important;
	}
	.header-right ul{\
	}
	/*style drop down menu*/
	ul.clearfix.responsive-topbar li:not(:first-child){
		height: 40px;
		line-height: 40px;
		padding-left: 10px;
		background-color: #F5D76E;
	}
	ul.clearfix.responsive-topbar li:nth-child(2){
		display: none;
	}
	ul.clearfix.responsive-topbar li:first-child {
		margin-bottom: 15px;
	}
	ul.clearfix.responsive-topbar li:not(:first-child):hover{
		background-color: #F4D03F;
	}
	ul.clearfix.responsive-topbar li:not(:first-child):hover a{
		color:black;
	}
	ul.clearfix.responsive-topbar li:nth-child(9) a{
		float:left;
		display: inline;
	}
 }

 @media (max-width: 650px){
	/*top area*/
	.topbar-left{
		margin-left: 0px!important;
	}
	.user-area ul li{
		float: left;
	}
	.user-area ul{
		margin-left: -150px;
	}
	.user-area ul li:first-child{
		float: left;
		display: block;
		margin-left: 15px;
	}
	.user-area ul li:nth-child(3) a, .user-area ul li:nth-child(4) a{
		font-size: 0.75em;
	}
	
	/*user area*/
	/*navigation area*/
	.header-left{
		display:none;
		width:100%;
		text-align: center;
	}
	.header-right ul{
		margin-left: -2%!important;
	}
	#A1{
		margin-left :-1px;
	}
	#A3{
		margin-top:100px;
		margin-left :-295px;
		float:left;
		display: inline-block;
	}
	#A4{
		margin-top:100px;
		margin-left :-105px;
		float:left;
		display: inline-block;
	}
	#mega-footer{
		position: relative;
	}
 }

 @media (max-width: 360px){
	/*top area*/
	.topbar-left{
		margin-left: 0px!important;
	}

	/*user area*/
	/*navigation area*/
 }

 /*alert information css*/
.text-alert-custom{
    color:white;
    font-style:italic;
    bottom:10px;
    margin-bottom:10px;
    display:inline-block;
}
 /*end of alert css*/

 /*customer register css*/
 .btn-register-custom{
     background-color:#ffd555;
     font-size:20px;
     font-weight:bold;
     text-transform:uppercase;
     padding:8px 30px;
     border-radius:3px;
     color:#000;
}

.btn-register-custom:hover{
    background-color:#f2c641;
    color:aliceblue;
}

.register-form-area h3{
    text-transform:uppercase;
    font-size:25px;
    font-weight:bold;
    color:#ffd555;
}

.register-form-area input{
    font-size:14px;
    color:black;
    padding:20px 28px;
    border-radius:0px;
}
.register-form-area input:focus{
    outline:0;
    border-color:#bf4d4d;
    box-shadow:0 1px 1px rgba(0,0,0,1) inset, 0 0 8px #bf4d4d;
}

.register-form-area h3:nth-child(1){
    margin-bottom:20px;
    margin-top:10px;
}

.register-form-area-title{
    margin-top:50px;
    margin-bottom:20px;
}

 /*End of customer register */

 /*login customer css*/

 /*end of login customer css*/